@import '../variables.scss';
@import '../mediaQueries.scss';

// This class is added to the body
// and it is used to hide scrolling on mobile
.mobile-header-is-showing {
    overflow: hidden;
}

.main-header {
    border-bottom: 1px solid #dedede;

    &-dropdown {
        background: rgba(255, 255, 255, .98);
        display: flex;
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: 77px;
        bottom: 0;
        z-index: 1000;
        padding: 2em 0;

        @include extra-large-up {
            display: none;
        }

        &__links {
            flex-direction: column;
            align-items: center;
            display: flex;
            flex: 1 1 auto;
            overflow-y: scroll;
            justify-content: center;
            padding-bottom: 2em;
        }

        &__item {
            padding: 1em;
            display: flex;
            text-align: center;
            font-size: 1.6em;
            font-weight: 600;
            width: 100%;

            p {
                text-align: center;
                margin: 0 2em;
                width: calc(100%  - 4em);
            }

            &--selected {
                p {
                    color: #c94621;
                }
            }
        }

        &__social {
            display: flex;
            flex: 0 0 auto;
            justify-content: center;
            flex-wrap: wrap;

            &-item {
                align-self: center;
                width: 60px;
                height: 60px;
                border-radius: 100%;
                border: 2px solid #cecece;
                margin-left: 12px;
                flex: 0 0 auto;

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &-wrapper {
        align-items: center;
        display: flex;
        padding: .8em 1.5em;

        @include medium-up {
            padding: .8em 1.5em;
        }
    }

    &__logo {
        display: flex;
        flex: 1 1 auto;

        img {
            height: 50px;
            width: auto;
        }
    }

    &__menu {
        align-items: stretch;
        display: flex;

        @include extra-large-down {
            display: none;
        }
    }

    .submenu {
        position: relative;

        &-dropdown {
            box-shadow: 1px 1px 10px rgba(0,0,0,.2);
            top: 100%;
            width: 240px;
            display: flex;
            flex-direction: column;
            background: #fff;
            position: absolute;
            z-index: 100;

            &__item {
                padding: 1em 2em;
                flex: 1 1 auto;

                p {
                    border-bottom: 2px solid transparent;
                }

                &:hover {
                    background: #f7f7f7;

                    p {
                        color: $color-main;
                    }
                }

                &:nth-child(1) {
                    padding-top: 2em;
                }

                &:nth-last-child(1) {
                    padding-bottom: 2em;
                }

                &--selected {
                    background: #efeaea;
                }
            }
        }
    }

    &__item {
        align-items: center; 
        font-size: 16px;
        padding: 18px 24px;
        display: flex;
        border-radius: 60px;

        p {
            color: rgba(0,0,0,.6);
            font-weight: 600;
            font-size: 1.2em;
        }

        &--selected {
            p, span {
                color: rgb(201, 70, 33);
            }
            background: #f7f7f7;
        }
    }

    &__social {
        height: 50px;
        align-items: center;
        display: flex;

        @include extra-large-down {
            display: none;
        }

        &-item {
            align-items: center;
            border-radius: 100%;
            border: 2px solid #cecece;
            display: flex;
            justify-content: center;
            height: 50px;
            margin-left: 12px;
            width: 50px;
        }
    }

    &__mobile-button {
        align-items: flex-start;
        display: flex;
        flex: 0 0 auto;

        button {
            width: 80px;
            height: 50px;
            border: 0;
            background: url("/images/burger-icon.svg");
            background-size: 40px;
            background-position: center;
            background-repeat: no-repeat;
        }

        @include extra-large-up {
            display: none;
        }
    }
}