

.breadcrumb#sectionHeader(style="text-align:left;")

  h2.breadcrumb_parent
    a(href="/").primaryColor Jorge Ferreiro
  .breadcrumb_divider /
  h1.breadcrumb_current.secundaryColor !{title}


//.separator
