
footer.jfFooter
	.jfFooter_content

		.jfFooter_entry
			h2 59 public repos
			p <a href="http://www.github.com/ferreiro" target="_blank">Github.com/ferreiro</a>

		.jfFooter_entry
			h2 Contact
			p <a href="contact">Send a message</a>

		.jfFooter_entry
			h2 Email
			p <a href="mailto:hello@ferreiro.me;">hello@ferreiro.me</a>

		.jfFooter_separator

		.jfFooter_entry.jfFooter_credits
			h2 Designed &amp; Programmed by:
			h1 Jorge Ferreiro

script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="/bower_components/fastclick/lib/fastclick.js")
script(src="/javascripts/jfmenu.js")
script(src="/javascripts/animations.js")
script(src="/javascripts/contact.js")

script(type='text/javascript').
	$(function() {
		$('.loader').fadeOut('200');
		FastClick.attach(document.body);
		animateMainContainer();
	});
