
footer.container#footer
	.footer-separator
	.footer-credits

		p.footer-credits-text Designed &amp; programmed by:
		p.footer-credits-text <strong>Jorge Ferreiro</strong>
		//<div class="footer-logo"><div class="footer-logo-square"><a href="#top" title="Jorge Ferreiro" class="header-logo-square-link"></a></div><div class="footer-logo-square"><a href="#top" title="Jorge Ferreiro" class="header-logo-square-link"></a></div></div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="javascripts/loader.js"></script>
<script src="javascripts/menu.js"></script>
<script src="javascripts/animations.js"></script>
