
footer.jfFooter
	.jfFooter_content

		.jfFooter_entry
			h2 59 public repos
			p <a href="http://www.github.com/ferreiro" target="_blank">Github.com/ferreiro</a>

		.jfFooter_entry
			h2 Contact
			p <a href="contact">Send a message</a>

		.jfFooter_entry
			h2 Email
			p <a href="mailto:hello@ferreiro.me;">hello@ferreiro.me</a>

		.jfFooter_separator

		.jfFooter_entry.jfFooter_credits
			h2 Designed &amp; Programmed by:
			h1 Jorge Ferreiro

script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="/bower_components/fastclick/lib/fastclick.js")

script(src="/javascripts/jfmenu.js")
script(src="/javascripts/jfmodal.js")
script(src="/javascripts/animations.js")
script(src="/javascripts/contact.js")

script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-75768739-1', 'auto');
  ga('send', 'pageview');

script(type='text/javascript').
	$(function() {
		$('.loader').fadeOut('200');
		FastClick.attach(document.body);
		animateMainContainer();
	});
