
footer.jfFooter
	.jfFooter_content

		.jfFooter_entry
			h2 59 public repos
			p Github.com/ferreiro

		.jfFooter_entry
			h2 Designed and programmed by
			h3 Jorge Ferreiro

		.jfFooter_entry
			h2 Contact
			p <a href="">Send a message</a>

		.jfFooter_entry
			h2 Email
			p hello@ferreiro.me

footer.container#footer
	.footer-separator
	.footer-credits

		p.footer-credits-text Designed &amp; programmed by:
		p.footer-credits-text <strong>Jorge Ferreiro</strong>
		//<div class="footer-logo"><div class="footer-logo-square"><a href="#top" title="Jorge Ferreiro" class="header-logo-square-link"></a></div><div class="footer-logo-square"><a href="#top" title="Jorge Ferreiro" class="header-logo-square-link"></a></div></div>

script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="/bower_components/fastclick/lib/fastclick.js")
script(src="/javascripts/jfmenu.js")
script(src="/javascripts/animations.js")
script(src="/javascripts/contact.js")

script(type='text/javascript').
	$(function() {
		$('.loader').fadeOut('200');
		FastClick.attach(document.body);
		animateMainContainer();
	});
