meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

title= title
// meta(name="description", content="!{description}")
// meta(name="author", content="Jorge Ferreiro")*/

<link href="https://fonts.googleapis.com/css?family=Lato:400,300,700, 900" rel="stylesheet" type="text/css">
link(rel='stylesheet', href='/fonts/ferreiro/style.css')
link(rel='stylesheet', href='/css/normalize.css')
link(rel='stylesheet', href='/css/style.css')

// Installed libraries
link(rel="stylesheet", href="/css_libs/animate.min.css")
link(rel="stylesheet", href="/css_libs/hover-min.css")
link(rel="stylesheet", href="/bower_components/Slidebars/dist/slidebars.min.css")
