doctype html
html
	head
		include ./head.jade

	body(class="pushable")

		//
			.notice_beta
				a(href="/contact/feedback")
					span Beta 0.9
					p.underline Feedback

		.jfmodalbox
			.jfmodalbox_overlay
			.jfmodalbox_content
				.jfmodalbox_close#closeModal
					span X
				h2 Email
				p You can send me an email to the following address:
				p hello@ferreiro.me

		.loader#loader

		include ./menu.jade

		.ui.container#mainContainer
			.container_wrap
				block content

		include ./footer.jade
