doctype html
html
	head
		include ./head.jade

	body(class="pushable")

		.loader#loader

		include ./menu.jade

		.ui.container#mainContainer
			.container_wrap
				block content

		include ./footer.jade
