.subscriptionBox {
  text-align: center;
  padding: 1.5em 1.5em;
  position: relative;
  border-top: 2px solid #EAEAEA;

  &__title {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
    z-index: 2;
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: none;
    span:before {
      font-size: 200px;
      color: rgba(0, 0, 0, 0.03);
    }
    .icon_small:before {
      font-size: 150px;
    }
  }

  &__collage {
    margin: 0 auto;
    padding: 1.5em 0;
    position: relative;
    text-align: center;
    max-width: 280px;

    &__wrapper {
      @include flexbox();
      @include flexbox_direction(row);
      @include flexbox_wrap(nowrap);
      @include flexbox_justifyContent(center, center);
      @include flexbox_alignContent(stretch, stretch);
      @include flexbox_alignItems(center, center);
    }

    &__icons {
      width: 85px;
      height: 85px;
      position: relative;

      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      margin-right: 1.25em;

      .icon {
        font-size: 3em;
        color: rgba(0, 0, 0, 0.6);
        display: inline-block;
      }
    }
    &__features {
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      position: relative;
    }
    &__feature {
      font-size: 1em;
      margin-bottom: 0.5em;
      // margin-left: 1em;
      text-align: left;
      list-style: none;
      span.icon {
        width: 15px;
        color: rgba(0, 0, 0, 0.6);
        color: #d83902;
        display: inline-block;
        margin-right: 8px;
        text-align: left;
        display: none;
      }
    }
  }

  &__form {
    position: relative;
    z-index: 2;
  }
  &__email {
    border: 1px solid #cecece;
    padding: 0.7em 0;
    @include border-radius(10px);
  }
  &__loader {
    height: 30px;
    display: none;
  }
  &__completed {
    width: 100%;
    text-align: center;
    display: none;
  }
  &__submit {
    margin: 0 auto;
    padding: 1em 1.2em;
    background: $primaryColor;
    cursor: pointer;
    color: #fff;
    border: 0;
    @include transition(0.3s);
    @include border-radius(60px);
    &:hover {
      background: #ff4302;
    }
  }
}