.timeline {
  margin-top: 1em;
  @media all and (min-width: $desktop-screen) {
    margin-top: 2em;
  }
  &__wrapper {}
  &__bigTitle {
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
    font-weight: 500;
    color: $primaryColor;
    @media all and (min-width: $desktop-screen) {
      margin-top: 1em;
      font-size: 3em;
    }
  }
  &__smallTitle {
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
    font-weight: 500;
    color: #000;
    display: block;
    @media all and (min-width: $desktop-screen) {
      margin-top: 2em;
      margin-bottom: 2em;
      font-size: 1.5em;
    }
  }
  &__badge {
    width: 100%;
    display: block;
    @media all and (min-width: $desktop-screen) {
      text-align: center;
    }
    &__title {
      color: $primaryColor;
      border: 2px solid $primaryColor;
      padding: 0.5em 1em;
      display: inline-block;
      @include border-radius(5px);
      @media all and (min-width: $desktop-screen) {
        font-size: 1.4em;
        // border: 0;
      }
    }
  }
  &__entries {
    @include flexbox();
    @include flexbox_wrap(nowrap);
    // @include flexbox_justifyContent(center, center);
    // @include flexbox_alignContent(flex-start, flex-start);
    // @include flexbox_alignItems(flex-start, flex-start);
    @include flexbox_direction(column);
    @media all and (min-width: $desktop-screen) {
      // @include flexbox_alignItems(center, center);
    }
  }
}

.timeline__item {
  @include flexbox();
  @include flexbox_wrap(nowrap);
  // @include flexbox_justifyContent(center, center);
  // @include flexbox_alignContent(flex-start, flex-start);
  // @include flexbox_alignItems(flex-start, flex-start);
  @include flexbox_direction(column);
  margin-left: 1em;
  padding-left: 0.5em;
  border-left: 5px solid $primaryColor;
  @media all and (min-width: $desktop-screen) {
    &:nth-child(1) {
      &:before {
        height: 30px;
      }
    }
    &:before {
      content: '';
      width: 0;
      height: 20px;
      // background: #f4f4f4;
      // background: $primaryColor;
      border-left: 2px $primaryColor dotted;
      // border-right: 2px  $primaryColor dashed;
      margin: 0 auto;
    }
    border: 0;
    padding-left: 0;
    margin-left: 0;
  }

  &__wrapper {
    background: #fff;
    padding: 0.7em;
    border: 1px solid #E8E8E8;
    // border-color: $primaryColor;
    margin-top: 0.5em;
    @include border-radius(5px);
    @include box-shadow(0px 0px 10px 0 rgba(0,0,0,0.05));
    @media all and (min-width: $desktop-screen) {
      margin: 0 auto;
      max-width: 550px;
      width: 550px;
      padding: 1.5em;
    }
  }
  &__header {
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    @include flexbox_flex(1, 1, auto);
    @include flexbox_alignSelf(stretch);
    @media all and (min-width: $desktop-screen) {
      margin-bottom: 1.5em;
      padding-bottom: 1.5em;
    }

    &__wrapper {
      @include flexbox();
      @include flexbox_wrap(nowrap);
      // @include flexbox_justifyContent(center, center);
      // @include flexbox_alignContent(flex-start, flex-start);
      // @include flexbox_alignItems(flex-start, flex-start);
      @include flexbox_direction(row);
      @media all and (min-width: $desktop-screen) {
        // @include flexbox_direction(column);
      }
    }
    &__logo {
      width: 60px;
      margin-right: 0.7em;
      @include flexbox_flex(0, 0, auto);
      @include flexbox_alignSelf(stretch);
      @media all and (min-width: $desktop-screen) {
        width: 80px;
        margin-right: 1.5em;
      }
      img {
        width: 100%;
        @include border-radius(5px);
      }
    }
    &__metadata {
      @include flexbox_flex(1, 1, auto);
      @include flexbox_alignSelf(center);
    }
    &__position {
      font-size: 1em;
      font-weight: 600;
      margin: 0;
      margin-bottom: 0.2em;
      @media all and (min-width: $desktop-screen) {
       font-size: 1.2em;
      }
    }
    &__company {
      font-size: 1em;
      font-weight: 300;
      margin: 0;
      margin-bottom: 0.2em;
    }
    &__date {
      font-size: 0.8em;
      font-weight: 300;
      margin: 0;
      color: rgba(0, 0, 0, .7);
    }
  }
  &__body {
    @include flexbox_flex(1, 1, auto);
    @include flexbox_alignSelf(stretch);
    p {
      font-size: 1rem;
      line-height: 1.5rem;
      color: rgba(0, 0, 0, 1);
    }
    a {
      // color: $primaryColor;
    }
  }
  &__oneline {
    margin-bottom: 0.1em;
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
  &__bullets {
    margin: 0 ;
    padding: 0;
    position: relative;
    li:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
  &__bullet {
    list-style: none;
    margin-bottom: 0.9em;
    position: relative;
    &:before {
      content: "•";
      position: absolute;
      top: 2px;
    }
    &__icon {
      position: absolute;
      left: 1em;
      i {
        font-size: 25px;
      }
    }
    &__text {
      margin-left: 50px;
      &__noIcon {
        margin-left: 20px;
      }
    }
  }
  &__warning {
    padding: 1.0em 0;
    margin: 1.5em 0;
    text-align: center;
    background: rgb(146,45,204); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(146,45,204,1) 0%, rgba(16,140,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(146,45,204,1) 0%,rgba(16,140,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(146,45,204,1) 0%,rgba(16,140,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#922dcc', endColorstr='#108cff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    position: relative;

    @include border-radius(5px);

    &:hover {
      &:before {
        background: #f4f4f4;
      }
    }

    &:before {
      content: '';
      margin: 4px;
      background: #fff;
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      @include transition(0.5s);
      @include border-radius(5px);
    }

    &__link {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
    }

    &__wrapper {
      position: relative;
      font-size: 1.2em;
      font-weight: 600;
      color: rgb(146,45,204);
      text-align: left;
      padding-left: 1em;
    }
  }
}