mixin shareTwitterButton(blogUrl, title, summary)
    .shareTwitterButton
        input(type="hidden", class="blogUrl", value= blogUrl)
        input(type="hidden", class="summary", value= summary)
        input(type="hidden", class="title", value= title)

        a.action_button(href="#")
            span.icon.icon-twitter
            | Tweet