@import "../mediaQueries.scss";

.video {
    width: 100%;
    display: flex;
    margin-bottom: 2em;

    &--did {
        background: #050527;
    }

    &--did-light {
        background: #fc4e1b;
        background: -moz-linear-gradient(-45deg,  #fc4e1b 0%, #f8aa30 100%);
        background: -webkit-linear-gradient(-45deg,  #fc4e1b 0%,#f8aa30 100%);
        background: linear-gradient(135deg,  #fc4e1b 0%,#f8aa30 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc4e1b', endColorstr='#f8aa30',GradientType=1 );    
    }

    &__wrapper {
        align-items: center;
        display: flex;
        position: relative;
        flex-direction: column;

        @include large-up {
            flex-direction: row;
            padding: 4em;
        }
    }

    &__aside {
        flex: 1 1 auto;

        &--did-image {
            margin-bottom: 0;
        }

        @include large-down {
            margin-top: 1em;

            img {
                width: 100%;
                height: 200px;
                object-fit: contain;
                object-position: center;
            }
        }

        @include large-up {
            flex: 0 0 auto;

            img {
                width: 540px;
            }

            &--did-image {
                margin-bottom: -4.2em;
            }
        }
    }

    &__content {
        align-items: center;
        flex: 1 1 auto;
        padding: 1.5em 1.5em 2em;

        @include large-up {
            padding-left: 4em;
        }
    }

    &__program {
        bottom: 2em;
        height: 30px;
        position: absolute;
        right: 1.5em;

        @include large-up {
            height: 50px;
            right: 2em;
            bottom: 2em;
        }
    }

    &__title {
        color: #fff;
        font-weight: 600;
        font-size: 2em;
        margin: 0;

        @include medium-up {
            font-size: 3em;
        }

        @include large-up {
            font-size: 4em;
        }
    }

    &__subtitle {
        color: #fff;
        font-weight: 600;
        margin: 0;
        line-height: 1.6em;
        font-size: 1.1em;
        margin-top: 5px;

        @include medium-up {
            line-height: 1.3em;
            font-size: 1.2em;
        }

        @include large-up {
            line-height: 1.5em;
            font-size: 1.4em;
            margin-top: 6px;
        }
    }

    &__companies {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.5em;

        img {
            height: 18px;
            margin-right: 1.2em;
            margin-bottom: 1em;
        }

        @include large-up {
            margin-top: 2em;

            img {
                height: 24px;
                margin-right: 1.5em;
                margin-bottom: 1.2em;
            }
        }
    }

    &__description {
        color: rgba(255, 255, 255, .9);
        margin: 20px 0;
        font-size: 1em;
        line-height: 1.5em;
        margin: 10px 0 30px;

        @include large-up {
            font-size: 1.2em;
            line-height: 1.5em;
            margin: 20px 0;
        }
    }

    &__link {
        border: 2px solid #fff;
        color: #fff;
        display: inline-flex;
        font-size: 18px;
        padding: 15px 20px;

        @include large-up {
            font-size: 24px;
            margin-top: 1em;
            padding: 20px 25px;
            transition: 0.25s;

            &:hover,
            &:focus {
                box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
                transform: translateY(-0.25em);
            }
        }

        &--did {
            border-color: #ffa200;
            color: #ffa200;

            @include large-up {
                &:hover {
                    background-color: #ffa200;
                    color: #fff;
                }
            }
        }
    }
}
