@import '../mediaQueries.scss';

.blog-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    @include small {
        margin-bottom: 1.5em;
    }

    @include medium {
        margin-bottom: 2rem;
    }

    @include large-up {
        margin: 1.5em 0 3em;
    }

    &__title {
        color: #525252;
        // font-family: "aktiv-grotesk", "sans-serif";

        @include medium-down {
            font-size: 30px;
        }

        @include medium {
            font-size: 60px;
        }

        @include large-up {
            font-size: 105px;
        }
    }

    &__subtitle {
        max-width: 700px;
        color: #525252;
        margin-top: 1rem;
        // font-family: "aktiv-grotesk", "sans-serif";

        @include medium-down {
            font-size: 18px;
            margin-bottom: 1.5rem;
        }

        @include medium {
            font-size: 24px;
            margin-bottom: 1.5rem;
        }

        @include large-up {
            font-size: 30px;
        }
    }
}

