extends ../includes/blog_layout_v2_large
include ../mixins/postCard
include ../mixins/blogHeader
include ../mixins/blogEntry
include ../mixins/subscriptionBoxLarge
include ../mixins/mostRecentPostAd
include ../mixins/seriesBlogList

block content_large
  .container__middle
    if blogCategory !== 'all'
      h2= blogCategory + ' posts'

    if !posts || posts.length <= 0
      .warningMessage(style="max-width: 400px; margin: 0 auto;")
        h1.warningMessage__title There are no more posts to show.
        p.warningMessage__text But I'm writing more articles! Join the community and be the first to receive my new posts and exclusive content!
        .warningMessage__call2Action.box_with_shadow(style="margin-top: 3em;")
          include ../includes/subscriptionBox

    else

      .blogTwoColumnsGrid

        .blogTwoColumnsGrid__left

          .twoColsGrid
            each post, index in posts || []

              //- Advertisement: subscribe to blog!
              //- if index == 3
                .twoColsGrid__item__full_width
                  .box_with_shadow(style="margin: 0;")
                    +subscriptionBoxLarge({
                      displayForm: true
                    })

              //- Blog Entry
              .twoColsGrid__item
                .twoColsGrid__item__wrapper
                  +postCard(post)

          if prevPageToken != "start" || nextPageToken != "end"
            .blog__load_more
              //- Add the category id (only if is not the main page)
              - blogLink = '/blog'
              if blogCategory !== 'all'
                - blogLink += '/category/' + (blogCategory ? blogCategory : '')

              if prevPageToken != "start" && prevPageToken > 0
                a(href= blogLink + '?next=' + prevPageToken).big_action_button Previous page
              if nextPageToken != "end"
                a(href= blogLink + '?next=' + nextPageToken).big_action_button Next page

        .blogTwoColumnsGrid__right.margin-left-2

          .about-me
            p About the author
            .about-me__avatar(style="background-image: url(https://pbs.twimg.com/profile_images/1053341684782850052/K8XzdqA9_400x400.jpg);")
            .about-me__text I love build products! Former Software Engineer intern @Amazon. Now doing Udacity #reactJS nanodegree. EDM, Avid traveller, Tennis player, Music addict and 📸
            ul.about-me__links
              li.about-me__link
                a(href="", target="_blank") Twitter @jgferreiro
              li.about-me__link
                a(href="", target="_blank") Linkedin
              li.about-me__link
                a(href="", target="_blank") Github

          .blog-categories
            p Blog categories
            ul
              each category in categories
                if category !== null
                  li
                    a(href="/blog/category/" + category)= category
          .blog-follow
            p Follow new blog post
            +subscriptionBoxLarge({
              displayForm: true,
              customTitle: 'New posts in your inbox'
            })
          .blog-top-articles
            p top articles.
          .blog-series
            p List of series
            +seriesBlogList(series, {showPic: false})
