.bigHeroeHeader {
  overflow: hidden;
  position: relative;

  @include border-radius(10px);

  &__wrapper {
    padding: 1.9em 0;

    @media all and (min-width: $tablet-screen) {
      padding: 4em 0;
    }

    @media all and (min-width: $desktop-screen) {
      padding: 6.5em 0;
    }
  }

  &__background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #f4f4f4;
    background-size: cover;
    background-position: 50% 5%;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .4);
      display: block;
    }
  }

  &__content {
    z-index: 15;
    text-align: center;
    position: relative;
  }

  &__title {
    color: #fff;
    font-size: 2.3em;

    @include text-shadow();

    @media all and (min-width: $tablet-screen) {
      font-size: 3em;
    }

    @media all and (min-width: $desktop-screen) {
      font-size: 3.5em;
    }
  }

  &__subtitle {
    color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 260px;
    font-size: 1.1em;
    line-height: 1.3em;

    @include text-shadow();

    @media all and (min-width: $tablet-screen) {
      max-width: 320px;
      font-size: 1.3em;
    }

    @media all and (min-width: $desktop-screen) {
      font-size: 1.7em;
      max-width: 440px;
      line-height: 1.25em;
      margin-top: 16px;
    }
  }

  &__button {
    color: #fff;
    margin-top: 15px;
    font-weight: bold;
    padding: 0.95em 1.35em;
    display: inline-block;
    text-decoration: none;
    background: $primaryColor;

    @include transition(100ms !important);
    @include border-radius(60px);

    @media all and (min-width: $tablet-screen) {
      font-size: 1.2em;
      padding: 0.90em 1.4em;
      margin-top: 30px;
    }

    @media all and (min-width: $desktop-screen) {
      font-size: 1.3em;
      padding: 0.95em 1.4em;
      margin-top: 30px;

      &:hover {
        color: #000;
        background: #fff;

        @include box-shadow(0px 0px 12px rgba(51, 51, 51, 0.5));
      }
    }
  }
}