.blogHeaderWrapper {
  position: relative;
  z-index: 105;
}
.blogHeader {
  z-index: 60;
  padding: 2em 0;
  overflow: hidden;
  position: relative;
  background: #fff;
  @include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.13));

  @media all and (min-width: $desktop-screen) {
    padding: 2.1em 0;
  }

  &__large {
    @media all and (min-width: $desktop-screen) {}
  }

  &_link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
  }

  &_buttons {
    bottom: 0;
    z-index: 10000;
    text-align: center;
    position: relative;
    text-align: center;
    padding-top: 0.3em; // separating header link with buttons link
    margin-top: 1.2em;

    span.icon {
      color: rgba(255, 255, 255, 1);
    }

    a {
      color: #fff;
      padding: 0.7em 1.2em;
      background: rgba(255, 255, 255, 0.1);
      border-color: rgba(255, 255, 255, 0.8);

      @include border-radius(60px);

      &:hover {
        span {
          color: rgba(255, 255, 255, 1);
        }
        border-color: $primaryColor;
        background: rgba(255, 255, 255, 0.8);
        background: $primaryColor;
        // border-color: #7cd802;
        // background: #7cd802;
      }
    }

    span {
      color: rgba(255, 255, 255, 0.9);

      @include transition(200ms);
    }

    .icon {
      color: $primaryColor;
      color: #d83901;
    }
  }

  &_bg {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color:#ff652f;
    background-size: cover;
    background-image: url("/images/jorge_ferreiro_san_francisco_bay_bridge_software_engineer.jpg");
    background-position: center center;
    overflow: hidden;

    img {
      display: none; // SEO
    }
    &::after {
      width: 100%;
      height: 100%;
      content: '';
      float: left;
      z-index: 12;
      display: block;
      position: absolute;
      background: rgba(0,0,0,.5);
    }
  }

  &_avatar {
    z-index: 1;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-bottom:1em;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-image: url('/images/jorge_ferreiro_software_engineer_developer_entrepreneur.jpg');
    @include border-radius(100%);

    img {
      display: none !important; /** Only use this for SEO LOL **/
    }

    @media all and (min-width: $tablet-screen) {}
    @media all and (min-width:$desktop-screen) {
      width: 140px;
      height: 140px;
    }
    @media all and (min-width:$big-screen) {}
  }

  &_userFields {
    z-index: 1;
    position: relative;
    text-align: center;
  }

  &_name {
    color: #fff;
    font-weight: 400;
    font-size: 2.3em;
    position: relative;
    text-decoration: none;
    margin: 0;

    @media all and (min-width:$desktop-screen) {
      font-size: 2.8em;
      margin-bottom: 0.1em;
      // font-size: 2.5em;
    }

    &_border {
      // padding: 5px 15px;
      display: inline-block;
      // border: 2px dotted #fff;
    }

    &_link {
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  &_job {
    margin: 0 auto;
    margin-top: 0.45em;
    padding: 0 0.4em;
    font-weight: 300;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.9);

    @media all and (min-width:$tablet-screen) {
      max-width: 450px;
      font-size: 1.3em;
      padding: 0 1.2em;
    }

    @media all and (min-width:$desktop-screen) {
      padding: 0;
      max-width: 530px;
      max-width: 460px;
      font-size: 1.5em;
      font-size: 1.3em;
      line-height: 1.2em;
      margin-bottom: 0.5em;
    }
  }

  &_info {
    margin: 0;
    margin-top:0.3em;
    padding: 0 0.8em;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    font-size: 1.3em;

    @media all and (min-width:$tablet-screen) {
      padding: 0 1.2em;
    }

    @media all and (min-width:$desktop-screen) {
      padding: 0;
      font-size: 1.5em;
      margin-bottom: 0.25em;
      line-height: 1.2em;
    }
  }

  &_button {
    font-size: 1em!important;
    padding: 0.7em 1em!important;

    @include transition(250ms);

    @media all and (min-width:$desktop-screen) {
      font-size: 1.2em!important;
      padding: 0.9em 1.2em!important;
    }

    &:hover {
      background: #ff4302;
      border-color: #b73507;
    }
  }
}
