// Get from codepen project (don't remember the url)

.mk-trc {
    height: 26px;
    line-height: 27px;
    display: inline-block;
}

.mk-trc label {
    height: inherit;
    display: block;
    cursor: pointer;
}

.mk-trc input[type=radio],
.mk-trc input[type=checkbox] {
    display: none
}

.mk-trc i {
    width: 55px;
    height: 25px;
    margin-right: 5px;
    font-style: normal;
    position: relative;
    display: inline-block;
    background: rgba(0, 0, 0, .3);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.mk-trc[data-style=radio] i,
.mk-trc[data-style=check] i {
    width: 25px;
}

.mk-trc i:after,
.mk-trc i:before {
    content: '';
    position: absolute
}

.mk-trc i:before {
    top: 2px;
    left: 2px;
    z-index: 1;
    width: 21px;
    height: 21px;
    background: #eee;
    transition: all .2s ease-in-out 0s
}

.mk-trc input:checked+label i {
    background: #A7A8A9;
}

.mk-trc input:checked+label i:before {
    left: 32px
}

.mk-trc[data-style=radio] i:before {
    background: #ddd;
    border: 2px solid transparent
}

.mk-trc[data-style=radio] input:checked+label i:before {
    border-color: #fff;
    background: #2196f3;
    left: 2px!important
}

.mk-trc[data-style=check] i {
    background: #ddd;
    border: 2px solid #7f8c8d;
    border: 2px solid rgba(0, 0, 0, .2)
}

.mk-trc[data-style=check] i:after,
.mk-trc[data-style=check] i:before {
    width: 0;
    background: 0 0;
    border-right: 2px solid transparent
}

.mk-trc[data-style=check] i:before {
    top: 12px;
    left: 8px;
    height: 6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
/* Este es el tick */
.mk-trc[data-style=check] i:after {
    top: 7px;
    padding: 0!important;
    left: 13px!important;
    height: 12px!important;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all .2s ease-in-out 0s
}

.mk-trc[data-style=check] input:checked+label i:after,
.mk-trc[data-style=check] input:checked+label i:before {
    border-color: #fff
}

.mk-trc[data-style=check] input:checked+label i:before {
    left: 8px
}

.mk-trc[data-align=right] i {
    float: right;
    margin-right: 0;
    margin-left: 5px
}

.mk-trc[data-text=true] i:after {
    left: 22px;
    color: #eee;
    height: 25px;
    content: 'Off';
    padding: 0 4px;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .8);
    transition: all .2s ease-in-out 0s
}

.mk-trc[data-text=true] input:checked+label i:after {
    left: 0;
    content: 'On'
}

.mk-trc[data-style=radio] i:after,
.mk-trc[data-style=radio] input:checked+label i:after,
.mk-trc[data-style=check] i:after,
.mk-trc[data-style=check] input:checked+label i:after {
    content: ''
}

.mk-trc[data-radius=true] i {
    border-radius: 25px
}

.mk-trc[data-radius=true] i:before {
    border-radius: inherit
}

.mk-trc input:disabled+label {
    color: #888;
    cursor: not-allowed
}

.mk-trc input:disabled+label i {
    background: #ccc
}

.mk-trc input:disabled+label i:after {
    color: #ddd
}

.mk-trc[data-style=check] input:disabled+label i {
    background: #ddd;
    border-color: #ccc
}

.mk-trc[data-size="2"] {
    height: 30px;
    line-height: 30px
}

.mk-trc[data-size="2"] label i {
    width: 60px;
    height: inherit
}

.mk-trc[data-size="2"][data-style=radio] label i,
.mk-trc[data-size="2"][data-style=check] label i {
    width: 30px
}

.mk-trc[data-size="2"] label i:after {
    left: 28px;
    height: inherit;
    line-height: 30px
}

.mk-trc[data-size="2"] label i:before {
    width: 26px;
    height: 26px
}

.mk-trc[data-size="2"][data-style=check] label i:before {
    width: 0;
    height: 7px
}

.mk-trc[data-size="2"][data-style=check] label i:after {
    top: 5px;
    left: 15px!important;
    height: 15px!important
}

.mk-trc[data-size="2"][data-style=check] input:checked+label i:before,
.mk-trc[data-size="2"][data-style=check] label i:before {
    top: 12px;
    left: 8px;
    border-radius: 0
}

.mk-trc[data-size="2"] label i[data-after-check]:before,
.mk-trc[data-size="2"] label i[data-before-check]:before {
    line-height: 26px
}

.mk-trc[data-size="2"][data-style=radio] input:checked+label i[data-after-check]:before,
.mk-trc[data-size="2"][data-style=radio] input:checked+label i[data-before-check]:before,
.mk-trc[data-size="2"][data-style=check] input:checked+label i[data-after-check]:before,
.mk-trc[data-size="2"][data-style=check] input:checked+label i[data-before-check]:before {
    left: 2px
}

.mk-trc[data-size="2"][data-style=check] label i[data-after-check]:before,
.mk-trc[data-size="2"][data-style=check] label i[data-before-check]:before {
    width: inherit
}

.mk-trc[data-size="3"] {
    height: 40px;
    line-height: 40px
}

.mk-trc[data-size="3"] label i {
    width: 80px;
    height: inherit
}

.mk-trc[data-size="3"][data-style=radio] label i,
.mk-trc[data-size="3"][data-style=check] label i {
    width: 40px
}

.mk-trc[data-size="3"] input:checked+label i:before {
    left: 42px
}

.mk-trc[data-size="3"] label i:after {
    left: 42px;
    font-size: 16px;
    height: inherit;
    line-height: 40px
}

.mk-trc[data-size="3"] label i:before {
    width: 36px;
    height: 36px
}

.mk-trc[data-size="3"][data-style=check] label i:before {
    width: 0;
    height: 7px
}

.mk-trc[data-size="3"][data-style=check] label i:after {
    top: 10px;
    left: 21px!important;
    height: 20px!important
}

.mk-trc[data-size="3"][data-style=check] input:checked+label i:before,
.mk-trc[data-size="3"][data-style=check] label i:before {
    top: 20px;
    left: 12px;
    border-radius: 0
}

.mk-trc[data-size="3"] label i[data-after-check]:before,
.mk-trc[data-size="3"] label i[data-before-check]:before {
    font-size: 24px;
    line-height: 36px
}

.mk-trc[data-size="3"][data-style=radio] input:checked+label i[data-after-check]:before,
.mk-trc[data-size="3"][data-style=radio] input:checked+label i[data-before-check]:before,
.mk-trc[data-size="3"][data-style=check] input:checked+label i[data-after-check]:before,
.mk-trc[data-size="3"][data-style=check] input:checked+label i[data-before-check]:before {
    left: 2px
}

.mk-trc[data-size="3"][data-style=check] label i[data-after-check]:before,
.mk-trc[data-size="3"][data-style=check] label i[data-before-check]:before {
    width: inherit
}

.mk-trc i[data-after-check]:after,
.mk-trc i[data-after-check]:before,
.mk-trc i[data-before-check]:after,
.mk-trc i[data-before-check]:before {
    border: none
}

.mk-trc i[data-before-check]:before {
    color: #7f8c8d;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    font-family: FontAwesome;
    content: attr(data-before-check)
}

.mk-trc input:checked+label i[data-after-check]:before {
    color: #fff;
    background: rgba(0, 0, 0, .1);
    content: attr(data-after-check)
}

.mk-trc[data-style=check] input:checked+label i[data-after-check]:before {
    height: 100%;
    background: 0 0!important
}

.mk-trc[data-style=check] i[data-before-check]:before {
    width: inherit;
    height: inherit;
    line-height: 25px;
    top: -2px!important;
    left: -2px!important
}

.mk-trc[data-color] input:disabled+label i:after {
    color: rgba(0, 0, 0, .3)
}

.mk-trc[data-color] i[data-before-check]:before {
    color: #fff;
    background: rgba(255, 255, 255, .2)
}

.mk-trc[data-color=red] i {
    background: rgba(243, 66, 53, .6)
}

.mk-trc[data-color=red] input:checked+label i,
.mk-trc[data-style=radio][data-color=red] input:checked+label i:before {
    background: rgba(243, 66, 53, 1)
}

.mk-trc[data-color=red] input:disabled+label i {
    background: rgba(243, 66, 53, .4)
}

.mk-trc[data-color=pink] i {
    background: rgba(233, 30, 99, .6)
}

.mk-trc[data-color=pink] input:checked+label i,
.mk-trc[data-style=radio][data-color=pink] input:checked+label i:before {
    background: rgba(233, 30, 99, 1)
}

.mk-trc[data-color=pink] input:disabled+label i {
    background: rgba(233, 30, 99, .4)
}

.mk-trc[data-color=black] i {
    background: rgba(54, 63, 69, .6)
}

.mk-trc[data-color=black] input:checked+label i,
.mk-trc[data-style=radio][data-color=black] input:checked+label i:before {
    background: rgba(54, 63, 69, 1)
}

.mk-trc[data-color=black] input:disabled+label i {
    background: rgba(54, 63, 69, .4)
}

.mk-trc[data-color=purple] i {
    background: rgba(156, 39, 176, .6)
}

.mk-trc[data-color=purple] input:checked+label i,
.mk-trc[data-style=radio][data-color=purple] input:checked+label i:before {
    background: rgba(156, 39, 176, 1)
}

.mk-trc[data-color=purple] input:disabled+label i {
    background: rgba(156, 39, 176, .4)
}

.mk-trc[data-color=deep-purple] i {
    background: rgba(103, 58, 183, .6)
}

.mk-trc[data-color=deep-purple] input:checked+label i,
.mk-trc[data-style=radio][data-color=deep-purple] input:checked+label i:before {
    background: rgba(103, 58, 183, 1)
}

.mk-trc[data-color=deep-purple] input:disabled+label i {
    background: rgba(103, 58, 183, .4)
}

.mk-trc[data-color=indigo] i {
    background: rgba(63, 81, 181, .6)
}

.mk-trc[data-color=indigo] input:checked+label i,
.mk-trc[data-style=radio][data-color=indigo] input:checked+label i:before {
    background: rgba(63, 81, 181, 1)
}

.mk-trc[data-color=indigo] input:disabled+label i {
    background: rgba(63, 81, 181, .4)
}

.mk-trc[data-color=blue] i {
    background: rgba(32, 149, 242, .6)
}

.mk-trc[data-color=blue] input:checked+label i,
.mk-trc[data-style=radio][data-color=blue] input:checked+label i:before {
    background: rgba(32, 149, 242, .6);
}
