.fullHeader {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;

  &__link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 12;
    left: 0;
    top: 0;
  }

  &__wrapper {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 10;

    @include flexbox();
    flex-direction: column;
    
    @media all and (min-width: $desktop-screen) {
      flex-direction: row;
    }
  }

  &__content {
    z-index: 1;
    position: relative;
    order: 1;
      
    @media all and (min-width: $desktop-screen) {
      @include flexbox_flex(0, 1, 580px);
    }
  }

  &__content__about {
    @media all and (min-width: $desktop-screen) {
      @include flexbox_flex(0, 1, 690px);
    }
  }

  &__image {
    z-index: 1;
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    height: 260px;
    order: 0;

    @media all and (min-width: $desktop-screen) {
      height: auto;
      @include flexbox_flex(1, 1, auto);
    }
  }

  &__title {
    font-size: 2em;
    margin-bottom: 6px;
    color: rgba(0, 0, 0, 0.9);
  }

  &__subtitle {
    margin-bottom: 14px;
    color: rgba(0, 0, 0, 0.7);
  }

  &__date {
    background: #2c218a;
    display: inline-block;
    padding: 0.3em 0.6em;
    color: #ad99ff;
    font-weight: bold;
    border-radius: 5px;
  }

  &__paragraphWithImage {
    @include flexbox();

    .image {
      width: 100px;
      min-height: 34px;
      background-size: 100px auto;
      background-position: top center;
      background-repeat: no-repeat;

      @include flexbox_flex(0, 0, 100px);
    }
    p {
      margin: 0;
      align-self: center;
      @include flexbox_flex(1, 1, auto);
    }
  }
  
  &__paragraph {
    margin-bottom: 1em;
    color: rgba(0, 0, 0, 0.7);
    line-height: 22px;

    img {
      width: 100px;
      height: auto;
      float: left;
    }
  }

  &__links {
    margin-top: 2em;
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    opacity: 0.2;
    background-position: center center;
    background-size: cover;
  }

  &__links {

  }

  &__button {
    margin-right: 1em;
    padding: 0.8em 1.2em;

    &-home {
      border-width: 2px;
      border-color: $primaryColor !important;
      .text {
        color: $primaryColor !important;
      }
    }
  }

  &__button__big {
    margin-right: 1em;
    padding: 1.4em 1.3em;

    .icon {
      margin-right: 0.5em;
    }
    .icon:before {
      font-size: 20px;
    }
    .text {
      // font-size: 20px;
    }
  }
}

@media all and (min-width: $tablet-screen) {
  .fullHeader__title { font-size: 3em; }
}
@media all and (min-width: $desktop-screen) {
  .fullHeader__title {
    font-size: 4em;
    margin-bottom: 12px;
  }
}
@media all and (min-width:$big-screen) {

}
