.hotLinks {
  width: 100%;
  display: block;

  &__list {}

  &__item {
    display: block;
    padding: 2em 0;
    position: relative;
    background: #f4f4f4;
    background-size: cover;
    text-decoration: none;

    &:hover:before {
      // only on desktop. Mobile does not need hover animation
      @media all and (min-width: $desktop-screen) {
        background: rgba(218,59,1,.7);
      }
    }

    &:before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      content: '';
      position: absolute;
      background: rgba(218,59,1,.9);

      @include transition(300ms);
    }

    h3 {
      z-index: 2;
      color: #fff;
      font-size: 2em;
      font-weight: bold;
      position: relative;
      text-align: center;

      @media all and (min-width: $desktop-screen) {
        font-size: 3.5em;
      }
    }
  }
}