.imagePopup {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 1000000;
  background: rgba(255, 255, 255, 0.9);

  &_wrapper {
    width: 100%;
    height: 100%;
  }

  &_close {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    @media all and (min-width: $desktop-screen){
      top: 1.5em;
      right: 1.5em;
    }
    span {
      font-size: 60px;
      color: #B9B9B9;
    }
  }

  &_content {

    max-width: 1300px;
    min-width: 300px;
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);

    img {
      width: 100%;
    }

    @media all and (min-width: 1000px) {
      width: auto;
      margin: 1em center;
    }
  }
}
