.blog {
  position: relative;
  &__link {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    a {
      width: 100%;
      height: 100%;
      display: block;
      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }
  &__entries {}

  &__entry {
    margin-bottom: 1.5em;
    @media all and (min-width: $desktop-screen) {
      margin-bottom: 2em;
    }
  }
  &__content {
    padding: 1em;
    position: relative;
    @media all and (min-width: $desktop-screen) {
      padding: 1.5em;
    }
  }
  &__author {
    top: 0;
    left: 0;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
    @media all and (min-width: $desktop-screen) {
      margin-bottom: 1em;
    }
    &__pic {
      width: 45px;
      height: 45px;
      overflow: hidden;
      margin-right: 1em;
      display: inline-block;
      background: #f4f4f4;
      vertical-align: middle;
      @include border-radius(100%);
      img {
        height: 120%;
      }
    }
    &__content {
      display: inline-block;
      vertical-align: middle;
      margin-top: 3px;
    }
    &__name {
      font-size: 1em;
      margin: 0;
      padding: 0;
      margin-bottom: 5px;
      text-transform: capitalize;
    }
    &__date {
      font-size: 0.9em;
      color: rgba(0, 0, 0, .7);
    }
  }
  &__load_more {
    width: 100%;
    padding: 1.5em 0;
    margin-bottom: 1em;
    text-align: center;
    @media all and (min-width: $desktop-screen) {
      margin-bottom: 0;
      padding: 2.5em 0;
    }
  }
  &__post {
    @include flexbox();
    @include flexbox_direction(column);
    @include flexbox_wrap(nowrap);
    @include flexbox_justifyContent(flex-start, start);
    @include flexbox_alignContent(stretch, stretch);
    @include flexbox_alignItems(stretch, stretch);

    @media all and (min-width: $desktop-screen) {
      min-height: 240px;
      @include flexbox_direction(row);
      margin-bottom: 2em;
    }

    &__left {
      @include flexbox_flex(0, 0, 100%);
      @include flexbox_alignSelf(auto);
      @media all and (min-width: $desktop-screen) {
        @include flexbox_flex(0, 0, 40%);
        // margin: 1em;
        // margin-right: 0;
      }
    }
    &__right {
      @include flexbox_flex(1, 1, auto);
      @include flexbox_alignSelf(auto);
    }

    &__pic {
      width: 100%;
      height: 150px;
      max-height: 300px;
      overflow: hidden;
      background-size: 100%;
      background-position: 50% 50%;
      display: inline-block;
      vertical-align: top;
      position: relative;
      @include border-radiuses(5px, 5px, 0, 0);
      @media all and (min-width: $tablet-screen) {
        height: 220px;
      }
      @media all and (min-width: $desktop-screen) {
        height: 100%;
        margin-bottom: 0;
        background-size: cover;
        @include border-radiuses(5px, 0, 5px, 0);
      }
      &__link {
        /*
        &::before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          background: rgba(216, 57, 1, 0.3);
        }
        */
        width: 100%;
        bottom: 0;
        position: absolute;
        top: 0;
        left: 0;
      }
      img {
        width: 100%;
      }
    }
    &__metadata {
      vertical-align: top;
      display: inline-block;
      margin: 1em;
      @media all and (min-width: $desktop-screen) {
        margin: 1.5em 1.8em;
        margin: 1.2em 1.5em;
      }
    }
    &__title {
      margin: 0;
      font-size: 1.6em;
      @media all and (min-width: $desktop-screen) {
        font-size: 2em;
        font-size: 1.8em;
      }
      &__link {
        text-decoration: none;
        color: rgba(0, 0, 0, 1);
        &:hover {
          border-bottom: 3px solid rgba(0, 0, 0, 1);
        }
      }
    }
    &__intro {
      color: rgba(0, 0, 0, .7);
      font-size: 1em;
      margin: 0;
      padding: 0;
      margin-top: 0.6em;
      margin-bottom: 1em;
      &:after {
        content: '...';
      }
      @media all and (min-width: $desktop-screen) {
        height: 55px;
        margin-top: 0.7em;
      }
    }
    &__options li {
      display: inline-block;
      margin-top: 0.5em;
    }
    &__read {
      font-size: 1em;
    }
    &__share {
      display: none;
      float: right;
    }
  }
}
