extends ./includes/layout

block content

  .sectionWrapper#animate_div

    .about
      .about-avatar(class="animated")
        img(src="/images/avatar.png")
      .about-content

        h1 Jorge Ferreiro

        if content.highlights
          - for highlight in content.highlights
            h2 !{highlight}

        .separator_about

        h3 Skills and Tools:

        if content.skills
          .tech_skills
            - for skill_type in content.skills
              .tech_skills_box
                .tech_skills_box_title
                  h3 <strong>#{skill_type.title}</strong>
                .tech_skills_box_content
                  - for icon in skill_type.list
                    .tech_skills_box_content_entry

                      if icon == "bower"
                        <i class="cbp-ig-icon devicon-bower-line"></i>
                      else if icon == "less"
                        <i class="cbp-ig-icon devicon-less-plain-wordmark"></i>
                      else
                        i.cbp-ig-icon(class="devicon-#{icon}-plain")
                      p #{icon}

        a(href="./projects", class="callToAction").button.button_rounded.centered.margin_top.dark
          span Discover my Work!
          span.icon-arrow-right2
