extends layout

block content

  img(src="https://pbs.twimg.com/profile_images/677744015098454016/z0qWB_0S_400x400.jpg")

  h1 Jorge Ferreiro
  h2 <strong>Full Stack</strong> Developer & <strong>Software Engineer</strong>
  h2 Studying Computer Science Degree <i>(in English)</i>
  h2 <a href='http://www.github.com/ferreiro' target='_blank'>Coding</a> and <a href="https://soundcloud.com/jgferreiro" target="_blank">Music</a> passionist.
