extends ./includes/layout

block content
  
  include ./includes/breadcrumb.jade
  
  //- Left Container
  .container_left.sectionHeader
    .profileData.box_with_shadow(style="margin-top:0;")

      h3.profileData_title Contact info
      ul.profileData_list
        
        li.profileData_entry
          p.profileData_entry_text_without_icon <b>Email:</b> jorge @ ferreiro . me
      
        li.profileData_entry
          p.profileData_entry_text_without_icon <b>City:</b> Madrid (Spain)
    
      h3.profileData_title Social networks
      ul.profileData_list
        
        li.profileData_entry
          a(href='https://github.com/ferreiro', target='_blank').profileData_entry_link
            span.profileData_entry_icon
              span.icon-github
            p.profileData_entry_text Github @ferreiro
            
        li.profileData_entry
          a(href='https://www.linkedin.com/in/jgferreiro', target='_blank').profileData_entry_link
            span.profileData_entry_icon
              span.icon-linkedin
            p.profileData_entry_text Linkedin @jgferreiro
        
        li.profileData_entry
          a(href='https://twitter.com/jgferreiro', target='_blank').profileData_entry_link
            span.profileData_entry_icon
              span.icon-twitter
            p.profileData_entry_text Twitter @jgferreiro
            
        .profileData_contactButton
          a(href="/contact").profileData_contactButton_link Contact Jorge Ferreiro
  
         
    .profileData.box_with_shadow

      h3.profileData_title My passions
      ul.profileData_list
        
        li.profileData_entry
          span.profileData_entry_icon 💻
          p.profileData_entry_text Making software to improve people's lives.
      
        li.profileData_entry
          span.profileData_entry_icon 🎾
          p.profileData_entry_text Playing tennis and trying new sports.
      
        li.profileData_entry
          span.profileData_entry_icon 🎵
          p.profileData_entry_text Producing and listening to music.

 
  //- Right Container
  .container_right
    .about#animate_div
      
      .profileCard
        .profileCard_bg
          // SEO
          img(src="/images/city_jorge_ferreiro.jpg")
        .profileCard_avatar
          img(src="/images/jorge_ferreiro_software_engineer_developer_entrepreneur.jpg")
        .profileCard_userFields
          h1.profileCard_name Jorge Ferreiro
          h2.profileCard_job <strong>Software Engineer</strong>
      
      .about_bio.box_with_shadow
        h1.about_bio_title Hi! I'm <strong>Jorge Ferreiro</strong>
        //- h2.about-bio-subtitle <strong>Software Engineer</strong> &amp; computer science student
        //<br/><span>&amp; Full stack software Engineer</span>
        p.about_bio_text 22-years-old <strong>software Engineer</strong> studying <strong>computer science</strong> at UCM (Madrid, Spain). I am a <strong>self-taugh programmer</strong> and <strong>web Engineer</strong> since eleven years old. So, I love learning and pushing up my skills to higher levels.
        p.about_bio_text In summer 2016 I did an internship in <b>Huawei Headquarters</b> in China, staying at Beijing, Shenzhen and Hong Kong.
        p.about_bio_text By June 2017 I am finishing the university. As a final project I am launching my own startup called <a href="http://www.dailyfocus.io" target="_blank">Dailyfocus</a>.
        //- p.about_bio_text My passions are: <br /><br />💻  Making <strong>software</strong> to improve people's life.<br /> 🎾  Playing <strong>tennis</strong> and try new sports.<br />🎵  Making and listening <strong>music</strong>.

        p.about_bio_text We can get in touch <a href="/contact">here</a>!
        
        if content.skills
          .skills
            
            h3.skills_title Skills and Tools

            - for skill_type in content.skills
              .skills_box(id="#{skill_type.id}")
                .skills_box_title
                  h3 <strong>#{skill_type.title}</strong>
                .skills_box_content
                  - for icon in skill_type.list
                    .skills_box_content_entry
      
                      if icon == "bower"
                        <i class="cbp-ig-icon devicon-bower-line"></i>
                      else if icon == "less"
                        <i class="cbp-ig-icon devicon-less-plain-wordmark"></i>
                      else
                        i.cbp-ig-icon(class="devicon-#{icon}-plain")
                      p #{icon}

      .hot_links.box_with_shadow
        .hot_links_box(style="background-image:url('images/projects/m4d_back.png');")
          a(href="/projects")
            h2 Discover my projects > 
