extends ./includes/layout

block content
  
  include ./includes/breadcrumb.jade
  
  //- Left Container
  .container_left.sectionHeader
    .profileData.box_with_shadow(style="margin-top:0;")

      h3.profileData_title Contact info
      ul.profileData_list
        
        li.profileData_entry
          p.profileData_entry_text_without_icon <b>Email:</b> jorge @ ferreiro . me
      
        li.profileData_entry
          p.profileData_entry_text_without_icon <b>City:</b> Madrid (Spain)
    
      h3.profileData_title Social networks
      ul.profileData_list
        
        li.profileData_entry
          a(href='https://github.com/ferreiro', target='_blank').profileData_entry_link
            span.profileData_entry_icon
              span.icon-github
            p.profileData_entry_text Github @ferreiro
            
        li.profileData_entry
          a(href='https://www.linkedin.com/in/jgferreiro', target='_blank').profileData_entry_link
            span.profileData_entry_icon
              span.icon-linkedin
            p.profileData_entry_text Linkedin @jgferreiro
        
        li.profileData_entry
          a(href='https://twitter.com/jgferreiro', target='_blank').profileData_entry_link
            span.profileData_entry_icon
              span.icon-twitter
            p.profileData_entry_text Twitter @jgferreiro
            
        .profileData_contactButton
          a(href="/contact").profileData_contactButton_link Contact Jorge Ferreiro
  
         
    .profileData.box_with_shadow

      h3.profileData_title My passions
      ul.profileData_list
        
        li.profileData_entry
          span.profileData_entry_icon 💻
          p.profileData_entry_text Making software to improve people's lives.
      
        li.profileData_entry
          span.profileData_entry_icon 🎾
          p.profileData_entry_text Playing tennis and trying new sports.
      
        li.profileData_entry
          span.profileData_entry_icon 🎵
          p.profileData_entry_text Producing and listening to music.

 
  //- Right Container
  .container_right
    .about#animate_div
      
      //.box_with_shadow.about_resume
        a(href="/resume/jorge_ferreiro_resume.pdf?download=true").about_resume_button.about_resume_button_download Download my Resume
        a(href="/resume/jorge_ferreiro_resume.pdf").about_resume_button.about_resume_button_view View my resume

      .profileCard
        .profileCard_bg(style="background-image: url(images/jorge_ferreiro_san_francisco_bay_bridge_software_engineer.jpg);")
          // SEO
          img(src="/images/jorge_ferreiro_san_francisco_bay_bridge_software_engineer.jpg")
        .profileCard_avatar
          img(src="/images/jorge_ferreiro_software_engineer_developer_entrepreneur.jpg")
        .profileCard_userFields
          h1.profileCard_name Jorge Ferreiro
          h2.profileCard_job <strong>Software Engineer / Entrepreneur</strong>

          .about_resume
            a(href="/resume/jorge_ferreiro_resume.pdf?download=true", target="_blank").about_resume_button.about_resume_button_download Download my resume
            a(href="/resume/jorge_ferreiro_resume.pdf", target="_blank").about_resume_button.about_resume_button_view View my resume

      .about_bio.box_with_shadow

        h1.about_bio_title Hi! I'm <strong>Jorge Ferreiro</strong>
        //- h2.about-bio-subtitle <strong>Software Engineer</strong> &amp; computer science student
        //<br/><span>&amp; Full stack software Engineer</span>

        p.about_bio_text 22-years-old <strong>Software Engineer</strong> majoring in <strong>Computer Science</strong>. I am a <strong>self-taugh programmer</strong> and <strong>Web Engineer</strong> since eleven years old. I love learning, shaping my skills and challenging myself every day.

        //- p.about_bio_text I'm looking for opportunities as a Software Engineer that let's me grow 

        p.about_bio_text In summer 2017, I'm at <strong>UC Berkeley</strong> taking summer classes (<a href="http://cs61bl.org/" target="_blank">CS 61BL</a> and COLWRIT 9I), and I'm launching my project <a href="http://test.dailyfocus.io" target="_blank">Dailyfocus</a> which is also my college capstone project.

        p.about_bio_text In summer 2016 I did an internship in <b>Huawei HQ</b> in China, staying at Beijing, Shenzhen and Hong Kong.

        //- p.about_bio_text My passions are: <br /><br />💻  Making <strong>software</strong> to improve people's life.<br /> 🎾  Playing <strong>tennis</strong> and try new sports.<br />🎵  Making and listening <strong>music</strong>.

        p.about_bio_text We can get in touch <a href="/contact">here</a>!
        
        if content.skills
          .skills
            
            h3.skills_title Skills and Tools

            - for skill_type in content.skills
              .skills_box(id="#{skill_type.id}")
                .skills_box_title
                  h3 <strong>#{skill_type.title}</strong>
                .skills_box_content
                  - for icon in skill_type.list
                    .skills_box_content_entry
      
                      if icon == "bower"
                        <i class="cbp-ig-icon devicon-bower-line"></i>
                      else if icon == "less"
                        <i class="cbp-ig-icon devicon-less-plain-wordmark"></i>
                      else
                        i.cbp-ig-icon(class="devicon-#{icon}-plain")
                      p #{icon}

      .hot_links.box_with_shadow
        .hot_links_box(style="background-image:url('images/projects/m4d_back.png');")
          a(href="/projects")
            h2 Discover my projects > 
