extends ./includes/layout

block content
  //- 
  //- include ./includes/breadcrumb.jade
  //- 
  .sectionWrapper#animate_div
  
    .about
      .about-avatar(class="animated")
        img(src="/images/avatar.png")
      .about-content
        h1 Jorge Ferreiro
        h2 Computer Science Student
        h2 <strong>Full Stack</strong> & <strong>Software Developer</strong>
        h2 <a href='http://www.github.com/ferreiro' target='_blank'>Coding</a> lover. <a href="https://soundcloud.com/jgferreiro" target="_blank">Music</a> fanatic.

        h3 Programming Skills:


        ul(class="tags")
          li.tag-first
            a.tag Backend
          li
            a.tag.tag-transparent Python
          li
            a.tag.tag-transparent Node.JS
          li
            a.tag.tag-transparent Java
          li
            a.tag.tag-transparent C++


        ul(class="tags")
          li.tag-first
            a.tag Databases
          li
            a.tag.tag-transparent MongoDB
          li
            a.tag.tag-transparent Oracle
          li
            a.tag.tag-transparent SQLite3

        ul(class="tags")
          li.tag-first
            a.tag Frontend
          li
            a.tag.tag-transparent Javascript
          li
            a.tag.tag-transparent HTML5
          li
            a.tag.tag-transparent CSS3
          li
            a.tag.tag-transparent Less.JS/Stylus

        ul(class="tags")
          li.tag-first
            a.tag Tools
          li
            a.tag.tag-transparent GIT
          li
            a.tag.tag-transparent Bash
          li
            a.tag.tag-transparent Mocha.JS
          li
            a.tag.tag-transparent Gulp
