extends ./includes/layout

block content

	include ./includes/breadcrumb.jade
	
	.contact
		form(action='/contact/send', method='post', autocomplete="off")#contactform
			
			fieldset.contact-fieldset
				.contact-fieldset-data
					input(type='name', id='the_name', name='contact_name', placeholder='What is your name?').contact-fieldset-input
			
			fieldset.contact-fieldset
				.contact-fieldset-data
					input(type='name', id='email', name='contact_email', placeholder='And your email?').contact-fieldset-input
					
			fieldset.contact-fieldset
				.contact-fieldset-data
					textarea(type='name', id='email', name='contact_msg', placeholder='Write your message... :)').contact-fieldset-input
					
			fieldset.contact-fieldset.contact-fieldset-nomargin
				input(type="submit", value="Contact me").button-orange
