extends ./includes/layout

block content

	include ./includes/breadcrumb.jade

	.sectionWrapper

		.contact#animate_div

			if content.title
				h2 !{content.title}

			form.contact-form(action='/contact/send', method='post', autocomplete="off")#contactform

				fieldset.contact-form-fieldset
					.contact-fieldset-data
						//p Name (*)
						p.wrong#wrongName Error: Your name can not be blank
						input.input_not_blank(type='name', id='the_name', name='contact_name', placeholder='What is your name?').contact-fieldset-input

				fieldset.contact-form-fieldset
					.contact-fieldset-data
						p.wrong#wrongEmail Error: The email you introduced is not valid. Try again.
						input.input_email(type='name', id='email', name='contact_email', placeholder='And your email?').contact-fieldset-input

				fieldset.contact-form-fieldset
					.contact-fieldset-data
						p.wrong#wrongMessage Error: Hey! Fill some text here ;).
						textarea.input_not_blank(type='name', id='message', name='contact_msg', placeholder='Write your message...').contact-fieldset-input

				p.formNotificationMessage.failure Sorry. Your message couldn't been sent. Try again or contact me directly.
				p.formNotificationMessage.success Your message has been sent. Congrats!

				fieldset.contact-form-fieldset.contact-fieldset-nomargin
					input(type="submit", value="#{content.sendButton || 'Send message'}").button.send.send_margin.dark
