extends ./includes/layout

block content
  
  .error
    //- h1= message
    h1 Page not found
    h2= error.status
    
    p.error_text Hi! I coud not find the page you are looking for... Could you please check if the URL is correct?<br />
    p.error_text If you think this page must work. Please, report the problem to &rarr; <a href="/contact/feedback" class="mailLink">hello@ferreiro.me</a>
    p.error_text <a href="/" class="error-link">Take me home ></a>

  pre #{error.stack}
      

  // h1= message
  // h2= error.status
  // pre #{error.stack}
