extends ./includes/layout

block content
  
  //- Middle Container
  .container_middle
  
    .slider#slider
        // Buttons for select the slide number
        ul.slider-selector

        // Buttons to go previous and right on slide
        ul.slider-navigation

            li.slider-navigation-left
                a
                    span.icon-angle-left
            li.slider-navigation-right
                a
                    span.icon-angle-right

        // Slides of the slider 
        ul.slider-slides
            //-- <li> last class is the effect (fading, barTop, square)
            
            //-- Single Slide
            //- li.fading.slider-slides-singleSlide
            //-     //- Content of one slide
            //-     .slider-slides-singleSlide-content
            //-         .blackContent
            //-             //- .slider-slides-singleSlide-content-minilogo
            //-             //-     div
            //-             h2.slider-slides-singleSlide-content-title Titulo
            //-             p.slider-slides-singleSlide-content-text Subtitulo
            //-             a(href="/nosotros").slider-slides-singleSlide-content-link ¡Descúbrenos!
            //- 
            //-     //- White mask
            //-     .slider-slides-singleSlide-whitemaskIntense
            //- 
            //-     //- Wallpaper mask
            //-     .slider-slides-singleSlide-wallpaper
            //-         div.blurred(style='background-image:url(/images/photo-1438302292089-1bfacb810383.jpeg);')
            
            //-- Single Slide
            li.fading.slider-slides-singleSlide
                //- Content of one slide
                .slider-slides-singleSlide-content
                    .whiteContent
                        h2.slider-slides-singleSlide-content-title My new website!
                        p.slider-slides-singleSlide-content-text Welcome to my completely new redesigned website. If you have some feedback, you can <a href="/contact/feedback">send it to me here</a>
                        a(href="/about").slider-slides-singleSlide-content-link Who is Jorge Ferreiro?
                //- Black mask
                .slider-slides-singleSlide-blackmask
                  
                .slider-slides-singleSlide-wallpaper
                    div(style='background-image:url(/images/desktop.jpeg);')
                      
            //-- Single Slide
            li.fading.slider-slides-singleSlide
                //- Content of one slide
                .slider-slides-singleSlide-content
                    .whiteContent
                        h2.slider-slides-singleSlide-content-title Beta Testers needed!
                        p.slider-slides-singleSlide-content-text I'm crafting my first startup called Dailyfocus.io. We're going to release beta versions soon. You can now join to beta testing program!
                        a(href="http://jorgeferreiro.us8.list-manage.com/subscribe?u=a14f26cff562d83563dc5919d&id=4939771ca3", target="_blank").slider-slides-singleSlide-content-link Join Beta testing program
                
                //- Black mask
                .slider-slides-singleSlide-blackmask
                  
                .slider-slides-singleSlide-wallpaper
                    div(style='background-image:url(/images/wallpaper2.jpg);')
            
            //-- Single Slide
            li.fading.slider-slides-singleSlide
                //- Content of one slide
                .slider-slides-singleSlide-content
                    .whiteContent
                        h2.slider-slides-singleSlide-content-title Keep updated!
                        p.slider-slides-singleSlide-content-text Subscribe to my newsletter and you'll receive the most amazing resources I find on the web and also updates about my upcoming projects.
                        a(href='/contact', target='_blank').slider-slides-singleSlide-content-link Yes! Subscribe me
            
                //- Black mask
                .slider-slides-singleSlide-blackmask

                .slider-slides-singleSlide-wallpaper
                    div(style='background-image:url(/images/wallpaper3.jpg);')
                      
block extraScripts
    script(type='text/javascript').
        $('#slider .slider-slides').DDSlider({

            prevSlide: '.slider-navigation-left',
            nextSlide: '.slider-navigation-right',
            selector: '.slider-selector'

        });
