doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    <!-- Always Use Same -->
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/image.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/transition.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/checkbox.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/sidebar.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">

    <!--
    These css files are pre-compiled
    to test out gulp
    use static.html, run gulp from semantic/, and modify theme.config or variables
    !-->
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="semantic/dist/components/form.css">
    <link class="themable" rel="stylesheet" type="text/css" href="semantic/dist/components/reset.css">
    <link class="themable" rel="stylesheet" type="text/css" href="semantic/dist/components/site.css">
    <link class="themable" rel="stylesheet" type="text/css" href="semantic/dist/components/breadcrumb.css">
    <link class="themable" rel="stylesheet" type="text/css" href="semantic/dist/components/button.css">
    <link class="themable" rel="stylesheet" type="text/css" href="semantic/dist/components/container.css">
    <link class="themable" rel="stylesheet" type="text/css" href="semantic/dist/components/divider.css">
    <link class="themable" rel="stylesheet" type="text/css" href="semantic/dist/components/dropdown.css">
    <link class="themable" rel="stylesheet" type="text/css" href="semantic/dist/components/grid.css">
    <link class="themable" rel="stylesheet" type="text/css" href="semantic/dist/components/header.css">
    <link class="themable" rel="stylesheet" type="text/css" href="semantic/dist/components/input.css">
    <link class="themable" rel="stylesheet" type="text/css" href="semantic/dist/components/label.css">
    <link class="themable" rel="stylesheet" type="text/css" href="semantic/dist/components/list.css">
    <link class="themable" rel="stylesheet" type="text/css" href="semantic/dist/components/menu.css">
    <link class="themable" rel="stylesheet" type="text/css" href="semantic/dist/components/message.css">
    <link class="themable" rel="stylesheet" type="text/css" href="semantic/dist/components/popup.css">
    <link class="themable" rel="stylesheet" type="text/css" href="semantic/dist/components/reveal.css">
    <link class="themable" rel="stylesheet" type="text/css" href="semantic/dist/components/segment.css">
    <link class="themable" rel="stylesheet" type="text/css" href="semantic/dist/components/table.css">


  body(class="pushable")

    .pusher

      .ui.top.menu
        .ui.container
          a.item(href="/about")
            <img src="/images/logo.png">
          a.item(href="/about") About Jorge Ferreiro
          a.item(href="/projects") Software Projects

          .right.menu
            .item
              .ui.primary.button Book meeting
            .ui.dropdown.item
              <i class="dropdown icon"></i>
              .menu
                <a class="item">English</a>
                <a class="item">Russian</a>
                <a class="item">Spanish</a>

      .ui.container
        block content

  footer
    p Designed and programmed by<br />Jorge Ferreiro
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="semantic/dist/semantic.min.js"></script>
