doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  footer
    p Designed and programmed by<br />Jorge Ferreiro
    <script src="bower_components/jquery/jquery.min.js"></script>
