extends ./includes/layout

block content

	include ./includes/breadcrumb.jade

	.sectionWrapper#animate_div
		.university

			img(src="https://media.licdn.com/mpr/mpr/shrinknp_674_240/AAEAAQAAAAAAAAGdAAAAJDJmZGEzM2ExLTQ2NmItNGY4MS04NTU3LTE3ZWQ4MTk1NjcxZA.jpg", width="100%")

			if content.info
				for text in content.info
					p.paragraph !{content}

			if content.courses
				- for course in content.courses
					.course

						if course.title
							h1.course-title #{course.title}

						if course.subjects
							- for subject in course.subjects

								#{subject.lang}

								if lang
									if lang == es
										span.flag_spanish ES
									else if lang == en
										span.flag_english EN

								if subject.title
									p #{subject.title}
						else
							p Subjects for next year not decided yet.
