extends ./includes/layout

block content

  include ./includes/breadcrumb.jade

  .sectionWrapper#animate_div
    .university
      p.paragraph I'm attending year <strong>3</strong> out 4 on <strong>computer science</strong> at Universidad Complutense de Madrid <a href="http://informatica.ucm.es" target="_blank">(www.ucm.es)</a>. It's a Bilingual Degree so courses are taugh in English and Spanish. My itinerary is called "Tecnología Específica de Computación".
