.contact {
  h2 {
    text-align: justify;
    a {
      border-bottom: 1px dotted #000;
      cursor: pointer;
    }
  }
  &-form {
    margin-top: 2em;

    &-fieldset {
      margin-bottom: 0.4em;
    }
  }
}

.formNotificationMessage {
  padding: 15px;
  display: none;
  margin-bottom: 1em;
}

.failure {
  background-color: #FD9E9E;
}
.success {
  background-color: #B2E682;
}
