
.projects {
  width: 100%;

  &_box {
    display: block;
    background-size: cover;
    position: relative;
    margin-bottom: 0;
    overflow: hidden;

    @media all and (min-width: @mobile-screen) {

    }
    @media all and (min-width: @tablet-screen) {

    }
    @media all and (min-width:@desktop-screen) {
        margin-bottom: 2em;
    }
    @media all and (min-width:@big-screen) {

    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 5;

      opacity: 0.97;

      background: linear-gradient(270deg, #d83902, #ac360d);
      // background-size: 400% 400%;
      // -webkit-animation: AnimationName 22s ease infinite;
      // -moz-animation: AnimationName 22s ease infinite;
      // -o-animation: AnimationName 22s ease infinite;
      // animation: AnimationName 22s ease infinite;
      // @-webkit-keyframes AnimationName {
      // 0%{background-position:0% 50%}
      // 50%{background-position:100% 50%}
      // 100%{background-position:0% 50%}
      // }
      // @-moz-keyframes AnimationName {
      // 0%{background-position:0% 50%}
      // 50%{background-position:100% 50%}
      // 100%{background-position:0% 50%}
      // }
      // @-o-keyframes AnimationName {
      // 0%{background-position:0% 50%}
      // 50%{background-position:100% 50%}
      // 100%{background-position:0% 50%}
      // }
      // @keyframes AnimationName {
      // 0%{background-position:0% 50%}
      // 50%{background-position:100% 50%}
      // 100%{background-position:0% 50%}
      // }

    }

    &_wallpaper {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-cover:size;
      z-index: 0;
      box-shadow: 0px 0px 20px 10px rgba(255,255,255,1);
      opacity: 0.7;
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -ms-filter: blur(5px);
      -o-filter: blur(5px);
      filter: blur(5px);
    }
    &_content {

      height: 100%;
      z-index: 10;
      position: relative;
      vertical-align: top;
      margin: 0 auto;
      padding: 2em 1em;

      @media all and (min-width: @mobile-screen) {
          padding: 3em 2em;
      }
      @media all and (min-width: @tablet-screen) {
          padding: 4em 0;
          width: 400px;
      }
      @media all and (min-width:@desktop-screen) {
          width: 505px;
      }
      @media all and (min-width:@big-screen) {

      }

    }
    //
    // &_left {
    //   width: 200px;
    //   display: inline-block;
    //   vertical-align: top;
    //   display: inline-block;
    //   margin-right: 3em;
    //
    //   @media all and (min-width: @tablet-screen) {
    //       width: 300px;
    //   }
    //   @media all and (min-width:@desktop-screen) {
    //       width: 300px;
    //   }
    //   @media all and (min-width:@big-screen) {
    //
    //   }
    //   img {
    //     width: 100%;
    //   }
    // }

    &_avatar {
      width: 160px;
      height: 160px;
      margin: 0 auto;
      overflow: hidden;
      .border-radius(100%);
      margin-bottom: 1em;

      @media all and (min-width: @tablet-screen) {
      }
      @media all and (min-width:@desktop-screen) {
      }
      @media all and (min-width:@big-screen) {

      }
      img {
        width: 100%;
      }
    }

    &_middle {
      margin: 0 auto;
      text-align: center !important;


      h1,
      h2,
      h3,
      p {
        margin: 0 auto;
        position: relative;
        color: #fff;
      }
      h1 {
        margin-bottom: 0.1em;
      }
      h2 {
        margin-bottom: 0.3em;
      }
      h3 {
        margin-bottom: 0.6em;
      }
      @media all and (min-width: @tablet-screen) {
      }
      @media all and (min-width:@desktop-screen) {
      }
      @media all and (min-width:@big-screen) {

      }
    }

    &_highlights {
      width: 100%;
      padding: 0;
      margin: 0;
      li {
        display: block;
        margin: 0 auto;
        padding: 0;
        color: #FFFF00 !important;
        list-style-type: none;
      }
    }

    &_technologies {
      margin:1.7em 0;
      span {
        margin:0 0;
        padding: 4px 12px;
        color: rgba(255, 255, 255, 0.6);
        font-size: 1.2em;
        border-right:1px dotted #fff;
        .border-radius(2px);
      }
      i:before {
        color: rgba(255,255,255,0.7);
      }
    }

    &_people {
      width: 100%;
      margin:1.5em 0;

      &_entry {
        width: 40px;
        height: 40px;
        display: inline-block;
        position: relative;
        margin-right: -0.5em;

        &_link {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }
        &_avatar {
          width: 100%;
          height: 100%;
          overflow: hidden;
          .border-radius(100%);
          img {
            width: 100%;
          }
        }
        &:hover {
          .projects_box_people_entry_name {
            display: block;
          }
        }
        &_name {
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,.5);
          color: #fff;
          display: none;
          position: absolute;
          left: 0;
          top: 0;
          .border-radius(100%);
          // top: 50%;
          // left: 50%;
          // transform: translate(-50%, -50%);
          p {
            font-size: 11px;
            color: #fff;
            text-align: center;
            padding-top: 5px;
          }
        }
      }
    }


  }
}

.dark_gradient::before {
  background: linear-gradient(270deg, #000000, #272727);
  //  background-size: 400% 400%;
   //
  //  -webkit-animation: AnimationName 22s ease infinite;
  //  -moz-animation: AnimationName 22s ease infinite;
  //  -o-animation: AnimationName 22s ease infinite;
  //  animation: AnimationName 22s ease infinite;
   //
  //  @-webkit-keyframes AnimationName {
  //      0%{background-position:0% 50%}
  //      50%{background-position:100% 50%}
  //      100%{background-position:0% 50%}
  //  }
  //  @-moz-keyframes AnimationName {
  //      0%{background-position:0% 50%}
  //      50%{background-position:100% 50%}
  //      100%{background-position:0% 50%}
  //  }
  //  @-o-keyframes AnimationName {
  //      0%{background-position:0% 50%}
  //      50%{background-position:100% 50%}
  //      100%{background-position:0% 50%}
  //  }
  //  @keyframes AnimationName {
  //      0%{background-position:0% 50%}
  //      50%{background-position:100% 50%}
  //      100%{background-position:0% 50%}
  //  }
}

.no-color::before,
.default::before,
.main_gradient::before {
  background: linear-gradient(270deg, #d83902, #ac360d);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 22s ease infinite;
  -moz-animation: AnimationName 22s ease infinite;
  -o-animation: AnimationName 22s ease infinite;
  animation: AnimationName 22s ease infinite;
  @-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
  }
  @-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
  }
}


.red_gradient::before {
  background: linear-gradient(270deg, #962828, #B72D2D);
 // background-size: 400% 400%;
 //
 // -webkit-animation: AnimationName 22s ease infinite;
 // -moz-animation: AnimationName 22s ease infinite;
 // -o-animation: AnimationName 22s ease infinite;
 // animation: AnimationName 22s ease infinite;
 //
 // @-webkit-keyframes AnimationName {
 //     0%{background-position:0% 50%}
 //     50%{background-position:100% 50%}
 //     100%{background-position:0% 50%}
 // }
 // @-moz-keyframes AnimationName {
 //     0%{background-position:0% 50%}
 //     50%{background-position:100% 50%}
 //     100%{background-position:0% 50%}
 // }
 // @-o-keyframes AnimationName {
 //     0%{background-position:0% 50%}
 //     50%{background-position:100% 50%}
 //     100%{background-position:0% 50%}
 // }
 // @keyframes AnimationName {
 //     0%{background-position:0% 50%}
 //     50%{background-position:100% 50%}
 //     100%{background-position:0% 50%}
 // }
}

.blue_gradient::before {
  background: linear-gradient(270deg, #283196, #2D38B7);
 // background-size: 400% 400%;
 //
 // -webkit-animation: AnimationName 22s ease infinite;
 // -moz-animation: AnimationName 22s ease infinite;
 // -o-animation: AnimationName 22s ease infinite;
 // animation: AnimationName 22s ease infinite;
 //
 // @-webkit-keyframes AnimationName {
 //     0%{background-position:0% 50%}
 //     50%{background-position:100% 50%}
 //     100%{background-position:0% 50%}
 // }
 // @-moz-keyframes AnimationName {
 //     0%{background-position:0% 50%}
 //     50%{background-position:100% 50%}
 //     100%{background-position:0% 50%}
 // }
 // @-o-keyframes AnimationName {
 //     0%{background-position:0% 50%}
 //     50%{background-position:100% 50%}
 //     100%{background-position:0% 50%}
 // }
 // @keyframes AnimationName {
 //     0%{background-position:0% 50%}
 //     50%{background-position:100% 50%}
 //     100%{background-position:0% 50%}
 // }
}


.light_gradient::before {
  background: linear-gradient(270deg, #ffffff, #dddddd);
 // background-size: 400% 400%;
 //
 // -webkit-animation: AnimationName 22s ease infinite;
 // -moz-animation: AnimationName 22s ease infinite;
 // -o-animation: AnimationName 22s ease infinite;
 // animation: AnimationName 22s ease infinite;
 //
 // @-webkit-keyframes AnimationName {
 //     0%{background-position:0% 50%}
 //     50%{background-position:100% 50%}
 //     100%{background-position:0% 50%}
 // }
 // @-moz-keyframes AnimationName {
 //     0%{background-position:0% 50%}
 //     50%{background-position:100% 50%}
 //     100%{background-position:0% 50%}
 // }
 // @-o-keyframes AnimationName {
 //     0%{background-position:0% 50%}
 //     50%{background-position:100% 50%}
 //     100%{background-position:0% 50%}
 // }
 // @keyframes AnimationName {
 //     0%{background-position:0% 50%}
 //     50%{background-position:100% 50%}
 //     100%{background-position:0% 50%}
 // }
}
