.projects {

}

.project {

  margin-bottom: 1em;
  overflow: hidden;
  position: relative;

  @media all and (min-width: @tablet-screen) {}
  @media all and (min-width:@desktop-screen) {
    margin-bottom: 2em;
  }
  @media all and (min-width:@big-screen) {}


  &_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    .border-radius(5px);
    overflow: hidden;

    &_image {
      width: 100%;
      height: 100%;
      background-size: cover;
      -webkit-filter: blur(20px);
      -moz-filter: blur(20px);
      -ms-filter: blur(20px);
      -o-filter: blur(20px);
      filter: blur(20px);

      &::before{
        width: 100%;
        height: 100%;
        content: '';
        background: rgba(0, 0, 0, 0.2);
      }
    }

    &_solid {
      width: 100%;
      height: 100%;
      opacity: 0.9;
      position: absolute;
      top: 0;
    }
  }

  &_header {
    padding: 1em;
    background: rgba(0, 0, 0, 0.3);
    z-index: 3;
    position: relative;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    @media all and (min-width:@desktop-screen) {
      padding: 1.5em 2em;
    }

    &_left {
      display: inline-block;
    }

    &_right {
      display: inline-block;
      float: right;
    }

    &_avatar {
      width: 60px;
      height: 60px;
      overflow: hidden;
      .border-radius(100%);
      background-size: cover;
      display: inline-block;
      vertical-align: middle;
      margin-right: 1em;

      @media all and (min-width:@desktop-screen) {
        width: 100px;
        height: 100px;
        margin-right: 2em;
      }
    }

    &_data {
      display: inline-block;
      vertical-align: middle;
    }

    &_title {
      color: #fff;
      font-size: 1.2em;
      margin-bottom: 0.3em;
      text-decoration: none;
      @media all and (min-width:@desktop-screen) {
        font-size: 1.4em;
      }
      &:hover {
        text-decoration: underline;
      }
    }

    &_date {
      color: #fff;
      @media all and (min-width:@desktop-screen) {
        font-size: 1.1em;
      }
    }

    &_share {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.7);
      // border:1px solid rgba(255, 255, 255, 0.7);
      .border-radius(5px);
      margin-top: 0.7em;
      padding: 10px;
      @media all and (min-width:@desktop-screen) {
        font-size: 1.2em;
        padding: 1em;
        margin-top: 1em;
      }
    }

  }

  &_gallery {
    z-index: 10;
    height: 120px;
    position: relative;
    overflow-y: hidden;
    background: rgba(0, 0, 0, 0.5);

    @media all and (min-width:@desktop-screen) {
      height: 160px;
    }

    &_next {
      width: 50px;
      height: 100%;
      display: none;
      position: absolute;
      right: 0;
      background: blue;
      z-index: 10;
    }

    &_list {
      min-width: 900px;
      max-width: 3000px;
      height: 120px;
      overflow: hidden;
      position: relative;
      @media all and (min-width:@desktop-screen) {
        height: 160px;
      }
    }

    &_entry {
      display: inline-block;
      height: 100%;
      overflow: hidden;

      img {
        height: 100%;
        .opacity(0.8);
      }
    }
  }

  &_body {
    z-index: 12;
    position: relative;
    padding: 1em;
    // background: #fff;
    @media all and (min-width:@desktop-screen) {
      padding: 2em;
    }
    &_title {
      color: rgba(255, 255, 255, 0.8);
      font-size: 1.4em;
      font-weight: 500;
      margin-bottom: 0.5em;
      @media all and (min-width:@desktop-screen) {
        margin-bottom: 0.6em;
      }
    }
    &_text {
      font-size: 1.2em;
      font-weight: 300;
      line-height: 1.2em;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 1em;
    }
  }

  &_highlight {
    display: block;
    margin-bottom: 1em;
    &_list {
      list-style: none;
      vertical-align: top;
      margin: -0.3em 0;
      display: block;
    }
    &_entry {
      width: 100%;
      height: 40px;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0.3em 0;
      margin-right: 0;

      @media all and (min-width:@desktop-screen) {
        // width: 49%;
        margin-right: 1em;
        // margin-right: 2%;
        &:nth-child(even) {
          margin-right: 0;
        }
      }

      &_icon {
        position: absolute;
        left: 0;
        padding: 0.5em;
        display: inline-block;
        border: 2px dashed #FF0;
        color: #FF0;
        vertical-align: middle;
        .border-radius(100%);
      }
      &_text {
        display: inline-block;
        vertical-align: middle;
        margin-left: 55px;
        color: rgba(255, 255, 255, 0.8);
        font-size: 1.1em;
         transform: translate(0, -50%);
         position: relative;
         top: 50%;

         a {
           font-weight: 300;
           color: rgba(255, 255, 255, 0.8);
         }
      }
    }
  }

  &_stack {
    display: inline-block;
    margin-bottom: 0.5em;
    vertical-align: top;

    &_list {
      list-style: none;
      display: block;
    }
    &_entry {
      margin-right: 1em;
      display: inline-block;
      // color: rgba(255, 108, 57, 1);
      color: rgba(255, 255, 255, 0.6);
      text-align: center;
    }
    &_title {
      color: rgba(255, 108, 57, 1);
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &_people {
    display: inline-block;
    margin-top: 0.5em;
    vertical-align: top;
    display: none;

    &_list {
      list-style: none;
      display: block;
    }
    &_entry {
      margin-right: 1em;
      display: inline-block;

      &_avatar {
        width: 50px;
        height: 50px;
        .border-radius(100%);
      }
    }
    &_title {
      color: rgba(255, 108, 57, 1);
    }
  }

  &_links {
    background: #fff;
    z-index: 12;
    overflow: hidden;
    a {
      width: 50%;
      display: inline-block;
      text-align: center;
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      padding: 1em 0;
      position: relative;
      background: #d83902;
    }
    &_website {
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-bottom-left-radius: 5px;
      &::after {
        width: 30px;
        height: 100%;
        content: '';
        width: 1px;
        background: rgba(255, 255, 255, 0.6);
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    &_code {
      -webkit-border-bottom-right-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      border-bottom-right-radius: 5px;
    }
  }

}
