body {
  background: #fff;
  color: #000000;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
.sectionWrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 2em 1em;
}
.fixed {
  position: fixed;
  top: 0;
}
.left {
  display: inline-block;
}
.right {
  display: inline-block;
  float: right;
}
.extra-margin {
  margin-right: 0.5em;
}
.primaryColor {
  color: #d83902;
}
.secundaryColor {
  color: #000000;
}
.separator {
  width: 100%;
  height: 1px;
  background: #f4f4f4;
  margin: 1em 0;
}
.loader {
  width: 100%;
  height: 100%;
  background: #ffffff url("../images/three-dots.svg");
  background-repeat: no-repeat;
  background-size: 60px auto;
  background-position: 50% 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.breadcrumb {
  width: 100%;
  display: block;
}
.breadcrumb-parent {
  display: inline-block;
  margin-right: 0.3em;
  font-weight: 600;
}
.breadcrumb-parent a {
  text-decoration: none;
}
.breadcrumb-parent a:hover {
  text-decoration: underline;
}
.breadcrumb-divider {
  font-weight: 400;
  display: inline-block;
}
.breadcrumb-current {
  width: 100%;
  display: inline-block;
}
.button {
  display: inline-block;
  color: $color_text;
  border: 2px solid #F4F4F4;
  padding: 20px 20px;
  background: transparent;
  outline: 0;
}
.button:hover {
  border-color: #D4D4D4;
  background: transparent;
}
.send_margin {
  margin-top: 0.5em;
}
.send {
  border-width: 4px;
  border: 4px dotted #cecece;
  border-color: #f9764f;
  border-color: #cfcfcf;
  padding: 25px 20px;
  box-shadow: inset 0 0 0 0 #000000;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
  text-transform: uppercase;
  font-weight: bold;
}
.send:hover {
  color: #fff;
  border-color: #000000;
  box-shadow: inset 0 100px 0 0 #000000;
}
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.tags li {
  float: left;
}
.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  color: #000000;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.tag-first {
  width: 100%;
}
@media all and (min-width: 800px) {
  .tag-first {
    width: auto !important;
  }
}
.tag-first a {
  width: 70px;
  color: #fff;
  background: #888888;
  margin-right: 15px;
}
.tag-transparent {
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin-left: 0 !important;
  background: transparent !important;
}
.tag-transparent::before {
  content: none !important;
}
.tag-transparent::after {
  content: none !important;
}
.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}
.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-left-color: #888888;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
p,
a,
h1,
h2,
h3,
h4,
h5 {
  color: #000000;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2.6em;
  color: #d83902;
}
@media all and (min-width: 800px) {
  
}
@media all and (min-width: 900px) {
  h1 {
    font-size: 3em;
  }
}
@media all and (min-width: 1300px) {
  h1 {
    font-size: 4em;
  }
}
h2 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0.3em;
}
@media all and (min-width: 800px) {
  h2 {
    font-size: 1.4em;
  }
}
@media all and (min-width: 900px) {
  h2 {
    font-size: 1.6em;
  }
}
@media all and (min-width: 1300px) {
  
}
h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 1.5em 0;
}
fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
}
input,
textarea {
  width: 100%;
  font-size: 1.3em;
  border: 2px solid #cecece;
  padding: 20px 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
  display: block;
  outline: 0;
}
input.wrong,
textarea.wrong {
  border-color: ;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */

  color: rgba(0, 0, 0, 0.8);
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */

  color: rgba(0, 0, 0, 0.8);
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
}
.logo {
  width: 67px;
  height: 67px;
  overflow: hidden;
  display: inline-block;
  float: left;
}
.logo img {
  height: 67px;
}
.menu {
  width: 100%;
  min-height: 67px;
  display: inline-block;
  background: #ffffff;
  border-bottom: 1px solid #cecece;
  vertical-align: middle;
  z-index: 100;
}
.with-icon {
  padding-top: 0.1em !important;
}
.item-selected {
  background: #F7F7F7 !important;
}
.item-selected p {
  color: #000 !important;
}
.item {
  height: 67px;
  display: inline-block;
  position: relative;
  padding: 0 1.5em;
  border-right: 1px dashed #cfcfcf;
  text-decoration: none;
}
.item p {
  font-size: 1.2em;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item:hover {
  background: #f9764f;
  border-color: #d83902;
}
.item:hover p {
  color: #fff;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 100;
}
@media all and (max-width: 900px) {
  .dropdown {
    display: none !important;
  }
}
.dropdown-content {
  min-width: 100px;
  padding: 1em;
  background: #fff;
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: none;
}
.dropdown-content a {
  width: 100%;
  padding: 0.5em 0;
  display: inline-block;
  text-align: right;
  text-decoration: none;
}
.dropdown-content a:hover {
  font-weight: bold;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#dropdown-mobiles {
  display: none;
}
@media all and (max-width: 900px) {
  .left {
    display: none;
  }
  #dropdown-mobiles {
    display: inline-block !important;
  }
}
#footer {
  padding-top: 0;
}
.footer-separator {
  height: 1px;
  background: #f4f4f4;
}
.footer-logo {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
  margin-top: 15px;
}
.footer-logo a {
  width: 100%;
  height: 100%;
  display: block;
}
.footer-logo-square {
  width: 100%;
  height: 100%;
  background-image: url('./collections/./collections/../images/logo.jpg');
  background-size: cover;
  position: relative;
}
.footer-hot_links {
  padding: 20px 0;
  text-align: center;
}
.footer-hot_links-button {
  font-size: 16px;
  margin: 0:8px;
  display: inline-block;
}
.footer-hot_links-button a {
  display: block;
  color: rgba(0, 0, 0, 0.8);
}
.footer-hot_links-button a:hover {
  color: #cfcfcf;
}
.footer-credits {
  text-align: center;
  padding: 30px 0;
}
.footer-credits-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 2px;
}
.container {
  width: 100%;
}
@media all and (min-width: 800px) {
  
}
@media all and (min-width: 900px) {
  
}
@media all and (min-width: 1300px) {
  .container {
    width: 1300px;
    padding: 0;
    margin: 0 auto;
  }
}
.container_wrap {
  padding: 1em 0;
  margin: 0 auto;
  margin-top: 67px !important;
}
@media all and (min-width: 800px) {
  
}
@media all and (min-width: 900px) {
  .container_wrap {
    padding: 2em;
  }
}
@media all and (min-width: 1300px) {
  .container_wrap {
    padding: 0;
    padding: 2em 0;
  }
}
.about-avatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.about-avatar img {
  width: 100%;
}
@media all and (min-width: 800px) {
  .about-avatar {
    width: 170px;
    height: 170px;
  }
}
@media all and (min-width: 900px) {
  
}
@media all and (min-width: 1300px) {
  
}
.about h1 {
  text-align: center;
  margin-bottom: 0.5em;
}
.about h2,
.about h3 {
  text-align: center;
}
.contact-form {
  margin-top: 2em;
}
.contact-form-fieldset {
  margin-bottom: 0.4em;
}
