extends ../../includes/blog_layout_v2_large
include ../../mixins/seriesCard
include ../../mixins/blogHeader
include ../../mixins/blogEntry
include ../../mixins/subscriptionBoxLarge
include ../../mixins/mostRecentPostAd

block content_header
  - hasAnimation = true
  +blogHeader(hasAnimation, false, true)

block content_large

  center
    h1.sectionBigTitle Blog series

  .container__middle.animate
    if !series || series.length <= 0
      .warningMessage(style="max-width: 400px; margin: 0 auto;")
        h1.warningMessage__title There are no any available series to show.
        p.warningMessage__text But I'm writing more articles! Join the community and be the first to receive my new posts and exclusive content!
        .warningMessage__call2Action.box_with_shadow(style="margin-top: 3em;")
          include ../../includes/subscriptionBox

    else
      .threeColsGrid
        each post, index in series || []
          //- Blog Entry
          .threeColsGrid__item
            .threeColsGrid__item__wrapper
              if (post.published)
                +seriesCard(post)

      if prevPageToken != "start" || nextPageToken != "end"
        .blog__load_more
          //- Add the category id (only if is not the main page)
          - blogLink = '/blog'
          if blogCategory !== 'all'
            - blogLink += '/category/' + (blogCategory ? blogCategory : '')

          if prevPageToken != "start" && prevPageToken > 0
            a(href= blogLink + '?next=' + prevPageToken).big_action_button Previous page
          if nextPageToken != "end"
            a(href= blogLink + '?next=' + nextPageToken).big_action_button Next page
