@import "../../components/spacing.scss";

.talks-metrics {
    display: flex;
    max-width: 600px;
    display: flex;
    margin: $spacing-5 auto;

    &__item {
        list-style: none;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 33%;
    }

    &__number {
        font-size: $spacing-6;
        font-weight: 600;
    }

    &__text {
        font-size: $spacing-4;
    }
}