.profileData {
  margin: 2em 0;
  display: none; /* Hide on mobile phones */
  padding: 1.5em;

  @media all and (min-width: $large-screen) {
    display: block;
  }

  &_title {
    margin: 0;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 1em;
  }
  &_list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &_entry {
    font-size:1.1em;
    margin: 0.4em 0;
    padding: 0;
    position: relative;

    &_link {
      &:hover {
        background: #fcdace;
      }
    }
    &_icon {
      width: 22px;
      height: 22px;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
    }
    &_text {
      margin-left: 35px;
      position: relative;
      display: inline-block;
      &_without_icon {
        margin-left: 0;
      }
    }
  }

  &_contactButton {
    width: 100%;
    &_link {
      margin-top:1.5em;
      padding: 0.8em 0;
      text-align: center;
      border:2px solid $primaryColor;
      border-color:#cecece;
      @include border-radius(5px);
      @include transition(all 0.5s);
      display: block;
      text-decoration: none;

      &:hover {
        color: #fff;
        background: $primaryColor;
      }
    }
  }

}
