.projectsFilter_warning {
  /* Warning when the view is showing a filtered category */
  border:2px dotted #01a0d1;
  background: rgba(2, 161, 216, 0.1);
  padding: 1em 1.5em;
  margin-bottom: 1em;
  @include border-radius(5px);
  @media all and (min-width: $desktop-screen) {
    margin-bottom: 1.45em;
    padding: 2em;
  }

  &_gray {
    border-color: rgba(0, 0, 0, 0.1);
    background: transparent;
  }

  &_text {
    font-size: 1.3em;
    display: inline-block;
    margin: 0.5em 0;
    margin-right: 1em;
    @media all and (min-width: $tablet-screen) {
      margin: 0;
      margin-right: 1em;
    }
  }

  &_button {
    display: inline-block;
    border:1px solid blue;
    background: #156e89;
    padding: 0.5em;
    @include border-radius(5px);
    // margin-top: 1em;
    color: #fff;
    text-decoration: none;
    @media all and (min-width: $desktop-screen) {
      margin-top: 0;
      float: right;
      margin-top: -5px;
    }
  }

}
