$topOffset: 0; // $headerTotalHeight

.socialSharing {
  z-index: 10000;
  visibility: hidden;

  @include opacity(0);
  @include transition(250ms);

  @media all and (max-width: $desktop-screen - 1px) {
    width: 100%;
    padding: 0.5em 0;
    border-top: 1px solid #cecece;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  @media all and (min-width: $desktop-screen) {
    top: $topOffset; // header Height
    bottom: 0;
    width: 55px;
    z-index: 0;
    position: fixed;
    margin-left: calc(-80px + -3em);
  }

  &__displayed {
    visibility: visible;
    @include opacity(1);
  }

  &__list {
    margin: 0 0.5em;
    text-align: center;

    @media all and (min-width: $desktop-screen) {
      left: 0;
      top: 50%;
      margin: 0;
      width: 55px;
      height: auto;
      position: absolute;
      text-align: center;
      min-height: 160px;

      @include translate(0, -50%);
    }
  }

  &__entry {
    cursor: pointer;
    list-style: none;
    display: inline-block;
  }

  &__item {
    border: 0;
    width: 30px;
    height: 30px;
    margin: 0 6px;
    position: relative;
    display: inline-block;
    background-size: 22px auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @include transition(300ms);
    @include border-radius(100%);
    @include opacity(0.5);

    @media all and (min-width: $desktop-screen) {
      width:  30px;
      height:  30px;
      margin: 0.3em 0;
    }

    &__bordered {
      @media all and (min-width: $desktop-screen) {
        width: 48px;
        height: 48px;
        border: 1px solid #cecece;
        margin-bottom: 0.6em;

        &:hover {
          animation: pulse 2s infinite;
          @include box-shadow(0 0 10px 0 rgba(0, 0, 0, 0.8));
          @include opacity(0.8);
        }
      }
    }

    span {
      top: 50%;
      left: 50%;
      font-size: 1.5em;
      position: absolute;
      @include translate(-50%, -50%);
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}