
.container {
  width: 100%;

  @media all and (min-width: @tablet-screen) {
    //padding: 0 2em;
  }
  @media all and (min-width:@desktop-screen) {
    // padding: 0;
    // margin:0 auto;
  }
  @media all and (min-width:@big-screen) {
    width: @big-screen;
    padding: 0;
    margin:0 auto;
  }
}

.container_wrap {
  padding: 1em 0;
  margin:0 auto;
  margin-top: @logoHeight !important;

  @media all and (min-width: @tablet-screen) {
    padding: 1em;
    //padding: 0 2em;
  }
  @media all and (min-width:@desktop-screen) {
    padding: 2em;
  }
  @media all and (min-width:@big-screen) {
    // padding: 2em 0;
    padding-left: 0;
    padding-right: 0;
  }
}
