@import '../variables.scss';
@import '../mediaQueries.scss';

.button-subscribe {
    // flex: 0 0 auto;
    display: inline-block;


    &--style-link {
        
    }

    &--style-fill {
        background: $color-main;
        color: #fff;
    }

    &--style-neutral {
        border-style: solid;
        border-color: #000;

        &:hover {
            background: #efefef;
            color: $color-main;
            border-color: $color-main;
        }
    }

    &--size-small {
        border-radius: 60px;

        @include desktop-down {
            border-width: 2px;
            font-size: 14px;
            padding: .4rem .8rem;
        }
    
        @include desktop-up {
            border-width: 2px;
            font-size: 14px;
            padding: .5rem .8rem;
        }
    }

    &--size-medium {
        border-radius: 60px;

        @include desktop-down {
            border-width: 2px;
            font-size: 14px;
            padding: .9rem 1rem;
        }
    
        @include desktop-up {
            border-width: 2px;
            font-size: 16px;
            padding: 0.6rem 1rem;
        }
    }

    &--size-big {
        border-radius: 2px;

        @include desktop-down {
            border-width: 3px;
            font-size: 16px;
            padding: .9rem 1rem;
        }
    
        @include desktop-up {
            border-width: 4px;
            font-size: 18px;
            padding: 1.2rem 1.8rem;
        }
    }
}