@import '../mediaQueries.scss';

.recent-article {
    min-height: 300px;
    display: block;

    @include large-up {
        margin: 0 -.8em;
    }

    &__items {
        align-items: stretch;
        flex-wrap: wrap;
        flex-direction: column;
        display: flex;

        @include large-up {
            flex-direction: row;
            min-height: 370px;
        }
    }

    &__item {
        flex: 1 1 auto;

        @include large-up {
            max-width: 33%;

            .card-related-post {
                margin: 0 .8em;
            }
        }
    }
}