.breadcrumb {
  width: 100%;
  //display: inline-block !important;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;

  @media all and (min-width: @tablet-screen) {
    padding: 0 2em;
  }
  @media all and (min-width:@desktop-screen) {

  }
  @media all and (min-width:@big-screen) {

  }

  &-parent {
    display: inline-block;
    margin-right: 0.3em;
    font-weight: 600;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-divider {
    font-weight: 400;
    display: inline-block;
  }
  &-current {
    width: 100%;
    display: inline-block;
  }
}
