@import '../mediaQueries.scss';

.layout-with-sidebar {
    &__wrapper {
        align-items: stretch;
        // background: #f4f4f4;
        display: flex;
        flex-direction: row;
    }

    &__sidebar {
        background: #fff;
        z-index: 10;

        @include extra-large-down {
            display: none;
        }

        @include large-up {
            box-shadow: 5px 0px 5px -2px rgba(0, 0, 0, .1);
            flex: 0 0 auto;
            min-height: 100vh;
            width: 240px;
        }
    }

    &__content {
        min-height: 100vh;
        flex: 1 1 auto;

        &-wrapper {
            padding: 1.5em;

            @include medium {
                max-width: 500px;
                margin: 0 auto;
            }
    
            @include large {
                padding: 1.5em 2em;
            }
    
            @include extra-large {
                padding: 1.5em 2em;
                max-width: 1300px;
                margin: 0 auto;
            }
        }
    }
}
