@import "../mediaQueries.scss";
@import "../spacing.scss";

.talk-list-item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    @include large-up {
        flex-direction: row;
    }

    &__image {
        height: 200px;
        flex: 0 0 auto;
        position: relative;
        width: 100%;

        @include large-up {
            height: 200px;
            width: 340px;
        }

        span {
            width: 100%;
            height: 100%;
            position: absolute;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    &__content {
        flex: 1 1 auto;

        @include large-up {
            margin-left: 2em;
        }
    }

    &__title {
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: .1px;
        margin-top: $spacing-2;

        @include large-up {
            margin-top: 0;
        }
    }

    &__metadata {
        display: flex;
        flex-direction: column;
        margin-top: $spacing-1;
        padding-bottom: $spacing-1;

        @include large-up {
            flex-direction: row;
            margin-top: $spacing-2;
        }

        &-entry {
            list-style: none;
            display: inline-block;
            margin-bottom: $spacing-1;

            @include large-up {
                margin-bottom: 0;
                margin-right: 1.5em;
            }
        }

        &-text {
            color: rgba(0, 0, 0, .8);
            font-size: 18px;
            margin-left: $spacing-1;
        }
    }

    &__summary {
        color: rgba(0, 0, 0, .8);
        font-size: 18px;
        line-height: $spacing-2;
    }

    &__buttons {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-top: $spacing-3;

        &-title {
            color: #7d7d7d;
            font-weight: bold;
            text-transform: uppercase;
        }

        &-items {
            display: flex;
            flex-direction: row;
        }
    }

    &__button {
        margin-right: $spacing-1;
    }

    &__icon {
        margin-right: $spacing-1;
    }

    &__options {
        align-self: center;
    }
}