@import "../fonts/ferreiro/style.css";
@import "./globals/**"; /* This first! Order matters */

@import "commun.scss";
@import "./collections/**";
@import "./elements/**";
@import "./sections/**";
@import "./grids/**";
@import "./blog/**";