.openModalBox {
  cursor: pointer;
  border-bottom: 1px dotted #000;
}

.contact {
  @media all and (min-width:$desktop-screen) {
    margin-bottom: 3em;
  }
}


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    rgba(0,0,0,0.5);
}
input:-moz-placeholder,
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    rgba(0,0,0,0.5);
 opacity:  1;
}
input::-moz-placeholder,
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    rgba(0,0,0,0.5);
 opacity:  1;
}
input:-ms-input-placeholder,
textarea::-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    rgba(0,0,0,0.5);
}

.contact_form {
  margin: 1em 0;
  position: relative;

  @media all and (min-width:$desktop-screen) {
    margin-bottom: 0;
  }

  &_wrapper {
    display: block;

    @media all and (max-width:$desktop-screen) {
      @include box-shadow(none !important);
    }

    @media all and (min-width:$desktop-screen) {
      max-width: 660px;
      margin: 0 auto;
    }
  }

  &_container {
    @media all and (min-width:$desktop-screen) {
      padding: 2em;
    }
  }

  &_title {
    margin-bottom: 2em;

    @media all and (min-width:$desktop-screen) {
      margin-bottom: 1.5em;
    }

    a {
      color: $primaryColor;
      border-color: $primaryColor;
    }
  }

  &_result {
    display: none;
    margin: 1em 0;
    margin-top: 0;
    padding: 1.4em;
    font-size: 1.2em;
    text-align: center;
    @include border-radius(5px);

    @media all and (min-width:$desktop-screen) {
      margin: 2em 0;
      margin-top: 0;
    }
  }

  &_failure {
    background-color: #FD9E9E;
  }

  &_success {
    margin-top: 1em;
    background-color: #B2E682;

    @media all and (min-width:$desktop-screen) {
      margin-top: 2em;
    }
  }

  &_fieldset {
    margin-bottom: 0.4em;
    position: relative;
    text-align: center;
  }

  &_input {
    text-align: center;
    min-width: calc(100% - 2px);
    max-width: calc(100% - 2px);
    border: 2px dotted #cecece;
    border: 1px solid  #d3d3d3;
    outline: 0;

    @include transition(200ms);
    @include border-radius(5px);

    &:focus {
      // border-color: $primaryColor;
      border-color: rgba(0,0,0,0.28);
      border-color: #c4c2c2;
      background: rgba(0, 0, 0, 0.01);

      @include box-shadow(0 1px 4px 1px rgba(0, 0, 0, 0.076));
    }
  }

  &_textarea {
    min-height: 46px;
    max-height: 100px;
  }

  &_newsletter {
    padding: 0;
    width: 100%;
    margin: 1.5em 0;
    text-align: center;
    vertical-align: top;

    @media all and (min-width:$desktop-screen) {
      margin: 1.8em 0;
    }

    &_check {
       padding: 0;
       display: inline-block;
       vertical-align: middle;
       margin-top: 2px;
    }

    &_text {
       margin: 0;
       padding: 0;
       padding-left: 10px;
       padding-top: 0;
       color: #989898;
       vertical-align: middle;
       line-height: 1em;
    }
  }

  &_submit {
    width: 260px;
    padding: 1em;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 1em;
    border: 3px solid #cecece;

    @include border-radius(60px);

    @media all and (min-width:$desktop-screen) {
      padding: 1.2em 0;
      margin-bottom: 0;
    }

    &:hover {
      color: #fff;
      background: #000;
      border-color: #000;

      background: #d83901;
      border-color: #b73507;
    }

    &_disabled {
      top: 0;
      left: 0;
      width: 100%;
      position: relative;

      &:before {
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        z-index: 102;
        position: absolute;
        background: rgba(255,255,255,0.6);
      }
    }
  }
}
