extends ./includes/layout
include ./mixins/resumeEntry
include ./mixins/timelineEntry
include ./mixins/subscriptionBoxLarge

block content_full
  //-.profileCard
    .profileCard_bg
      // SEO
      img
    .profileCard_avatar
      img(src="/images/jorge_ferreiro_software_engineer_developer_entrepreneur.jpg")
    .profileCard_userFields
      h1.profileCard_name Jorge Ferreiro
      h2.profileCard_job <strong>Software Engineer / Entrepreneur</strong>

      .about_resume
        a(href="/resume/jorge_ferreiro_resume.pdf?download=true", target="_blank").about_resume_button.about_resume_button_download Download my resume
        a(href="/resume/jorge_ferreiro_resume.pdf", target="_blank").about_resume_button.about_resume_button_view View my resume

block content

  // include ./includes/breadcrumb.pug
  .animate
    center
      h1.about_bio__large__title Jorge Ferreiro
      h2.about_bio__large__subtitle Software Engineer &amp; Entrepreneur

  .animate
    .about_bio__large
      .about_bio__large__left_v2(style="background-image: url(/images/about/collage_jorge_ferreiro_software_development_internship_at_Amazon_SDE_without_borders.jpg);")
        img(src="/images/about/collage_jorge_ferreiro_software_development_internship_at_Amazon_SDE_without_borders.jpg", width="100%").about_bio__large__pic
      .about_bio__large__right
        .about_bio__large__right__content

          if bio
            each bulletPoint in bio || []
              p.about_bio__large__bio !{bulletPoint.body}

          .about_bio__large__callToAction#aboutActions
            a(href="/resume/jorge_ferreiro_resume.pdf?pdf=resume&ref=about", style="border: 2px solid #d83901; color: #d83901;", target="_blank").about_bio__large__button
              span.icon.ion-document
              | Read Resume
            a(href="/contact", style="border-width: 2px;").about_bio__large__button
              span.icon.ion-android-mail
              | Contact me
            //- a(href="/resume/jorge_ferreiro_resume.pdf?download=true", target="_blank").about_bio__large__button
              span.icon.ion-ios-cloud-download-outline
              | Download Resume

  h4.timeline__bigTitle Timeline

  .timeline#experience
    .timeline__wrapper
      .timeline__badge
        span.timeline__badge__title Experience
      .timeline__entries
        each item in work || []
          +timelineEntry(item)

  .timeline#education
    .timeline__wrapper
      .timeline__badge
        span.timeline__badge__title Education
      .timeline__entries
        each item in education || []
          +timelineEntry(item)

block after_content

  .about_hot_links
    .hotLinks
      .hotLinks__list
        a(href="/blog?ref=about").hotLinks__item(style="background-image:url('/images/blog/jorge_ferreiro_in_san_francisco_golden_gate_software_engineer_entrepreneur.jpg');")
          h3 Discover my blog
