extends ./includes/layout

block content
  
  //- Middle Container
  .container_middle
    h1 Middle
  
  //- Left Container
  .container_left
    h1 Left
    
  //- Right Container
  .container_right
    h1 Right
