extends ./includes/blog_layout_v2_large
include ./mixins/blogEntry
include ./mixins/postCard

block content_large
  .container__middle

    if posts.length == 0
        center
          h1 There are no posts currently.<br /> Come back sortly, I'm creating exclusive content!
        .profileData.box_with_shadow(style="margin-top: 5em !important; display: block;")
          include ./includes/subscriptionBox
    else
      .threeColsGrid
        each post, index in posts || []
          if index == 3
            .threeColsGrid__item__full_width
              .profileData.box_with_shadow(style="margin: 0;")
                include ./includes/subscriptionBox
          .threeColsGrid__item
            .threeColsGrid__item__wrapper
              +postCard(post)

      if prevPageToken != "start" || nextPageToken != "end"
        .blog__load_more
          if prevPageToken != "start" && prevPageToken > 0
            a(href= '/blog?next=' + prevPageToken).big_action_button Previous page
          if nextPageToken != "end"
            a(href= '/blog?next=' + nextPageToken).big_action_button Next page