extends ./includes/blog_layout

block blog_content

  //- Left Container
  .container_left.animated.fadeInUp

    // h1.titleSection.animated.zoomIn Posts
    // h3.profileData_title Categories
      ul.profileData_list

        li.profileData_entry
          p.profileData_entry_text_without_icon
            a(href="") Software Engineering

        li.profileData_entry
          p.profileData_entry_text_without_icon
            a(href="") Product management

        li.profileData_entry
          p.profileData_entry_text_without_icon
            a(href="") Entrepreneurship


    .blog__entries
      each post in posts || []
        - var postUrl = '/blog/' + post.permalink
        .blog__entry.box_with_shadow
          //.blog__link
            a(href= postUrl)
          .blog__post
            .blog__post__left
              .blog__post__pic(style="background-image:url(" + post.pic + ");")
                a(href= postUrl).blog__post__pic__link
            .blog__post__right
              .blog__post__metadata
                .blog__author
                  .blog__author__pic
                    img(src= post.author.pic || '')
                  .blog__author__content
                    h2.blog__author__name= post.author.name || ''
                    p.blog__author__date= post.date || ''

                h1.blog__post__title
                  a(href=postUrl).blog__post__title__link= post.title

                if post.summary
                  p.blog__post__intro= post.summary
                a(href= postUrl).blog__post__read Read more