extends ./includes/blog_layout_v2_large
include ./mixins/postCard
include ./mixins/sharePostBig
include ./mixins/subscriptionBoxLarge

block extraMeta
  if post
    meta(property='og:type', content='article')
    meta(property='og:title', content= post.title)
    meta(property='og:url', content= '/blog/' + post.permalink)
    meta(property='og:image', content= post.pic)
    meta(property='article:author', content= post.author_name)

block extraCss
  link(rel="stylesheet", href="/vendors/twentytwenty/css/twentytwenty.css", type="text/css", media="screen")

block extraScripts
  script(src="/javascripts/socialSharing.js")
  script(src="/vendors/twentytwenty/js/jquery.event.move.js", type="text/javascript")
  script(src="/vendors/twentytwenty/js/jquery.twentytwenty.js", type="text/javascript")
  script(src="/javascripts/imageComparator.js")
  script(src="/javascripts/imageResizer.js")

block content_header
  - hasAnimation = false
  +blogHeader(hasAnimation)

block content_large

  .blogPost.animated.fadeInUp

    if admin && post
      ul.blog__post__options(style="margin-bottom: 1em;")
        li(style="margin-right: 1em;")
          a(href= post.permalink + '?disableAdmin=true').action_button
            span.icon.ion-eye
            | See post as normal user
        li(style="margin-right: 1em;")
          a(target="_blank", href= '/admin/edit/' + post.permalink).action_button
            span.icon.ion-edit
            | Edit post
        li
          a(href= '/admin/delete/' + post.permalink).action_button
            span.icon.ion-android-delete
            | Delete post

      //-p= 'Views ' + post.views + ' | Likes: ' + post.likes

    if error
      h1= error

    if post
      //- Load Social Sharing
      include ./includes/socialSharing

      //- Post metadata
      h1.blogPost__title= post.title
      h2.blogPost__subtitle= post.summary
      img.blogPost__image(src= post.pic, style="width: 100%;")
      .blogPost__content!= post.html

      if post.category
        ul.blogPost__category
          p Post published in
          each category in post.category
            li
              a(href= "/category/" + category).action_button= category

      .separator_no_margin#postFooter

      +sharePostBig('/blog/' + post.permalink, 'article')

      // .box_with_shadow(style="margin-top: 3em;")
        +subscriptionBoxLarge({
          customTitle: 'Read more articles like this?',
          customBody: 'Get exclusive content, pre-access to tutorials, updates and projects! Join my newsletter and keep up to date!',
          displayForm: true
        })

block after_content

  //- This div with ID is used by the Javascript
  //- To know where to hide the sharing pannel.
  #relatedPosts
    if relatedPosts && relatedPosts.length > 0
      .container.blogPostRelated
        .container_inner.blogPostRelated__inner

          h3.blogPostRelated__title Related posts

          .threeColsGrid
            each post, index in relatedPosts
              .threeColsGrid__item
                .threeColsGrid__item__wrapper
                  +postCard(post)