extends ./includes/layout
include ./mixins/postCard
include ./mixins/subscriptionBoxLarge

block extraScripts
    script(src="/javascripts/slider.js")
    script(type='text/javascript').
        $('#slider .slider-slides').DDSlider({
            prevSlide: '.slider-navigation-left',
            nextSlide: '.slider-navigation-right',
            selector: '.slider-selector'
        });

    //- script(src="/javascripts/owl.carousel.min.js")
    //- script.
        $(document).ready(function($) {
            $( ".owl-carousel" ).each(function() {
            $(this).owlCarousel()
            });
        });
        $("body").data("page", "frontpage");

block content

  //- Middle Container
  .container_middle
    .slider#slider
        //- Buttons for select the slide number
        ul.slider-selector

        //- Buttons to go previous and right on slide
        ul.slider-navigation

            li.slider-navigation-left
                a
                    span.icon-angle-left
            li.slider-navigation-right
                a
                    span.icon-angle-right

        //- Slides of the slider
        ul.slider-slides
            //-- <li> last class is the effect (fading, barTop, square)
            //-- Single Slide
            //- li.fading.slider-slides-singleSlide
            //-     //- Content of one slide
            //-     .slider-slides-singleSlide-content
            //-         .blackContent
            //-             //- .slider-slides-singleSlide-content-minilogo
            //-             //-     div
            //-             h2.slider-slides-singleSlide-content-title Titulo
            //-             p.slider-slides-singleSlide-content-text Subtitulo
            //-             a(href="/nosotros").slider-slides-singleSlide-content-link ¡Descúbrenos!
            //-     //- White mask
            //-     .slider-slides-singleSlide-whitemaskIntense
            //-     //- Wallpaper mask
            //-     .slider-slides-singleSlide-wallpaper
            //-         div.blurred(style='background-image:url(/images/photo-1438302292089-1bfacb810383.jpeg);')

            //-- Single Slide
            li.fading.slider-slides-singleSlide
                //- Content of one slide
                .slider-slides-singleSlide-content
                    .whiteContent
                        // div(style="width: 100px; margin: 0 auto; height: 100px; margin: 0 auto; margin-bottom: 1.5em; border-radius: 100%; background-image: url(/images/about/avatar_jorge_ferreiro_small.png); background-size: cover;")
                        h2.slider-slides-singleSlide-content-title Jorge Ferreiro
                        p.slider-slides-singleSlide-content-text Software Engineer, Entrepreneur and Product manager.
                        a.whiteButton(href="/about").slider-slides-singleSlide-content-link Read about me
                //- Black mask
                .slider-slides-singleSlide-orangemask

                .slider-slides-singleSlide-wallpaper
                    div(style='background-image:url(/images/home/header.jpg);')

            //-- Single Slide
            li.fading.slider-slides-singleSlide
                //- Content of one slide
                .slider-slides-singleSlide-content
                    .blackContent
                        // div(style="width: 100px; margin: 0 auto; height: 100px; margin: 0 auto; margin-bottom: 1.5em; border-radius: 100%; background-image: url(/images/about/avatar_jorge_ferreiro_small.png); background-size: cover;")
                        h2.slider-slides-singleSlide-content-title Jorge Ferreiro
                        p.slider-slides-singleSlide-content-text Software Engineer, Entrepreneur and Product manager.
                        a(href="/about").slider-slides-singleSlide-content-link Read about me
                //- Black mask
                .slider-slides-singleSlide-whitemask

                .slider-slides-singleSlide-wallpaper
                    div(style='background-image:url(/images/home/header.jpg);')

            //-- Single Slide
            li.fading.slider-slides-singleSlide
                //- Content of one slide
                .slider-slides-singleSlide-content
                    .whiteContent
                        h2.slider-slides-singleSlide-content-title JF Community!
                        p.slider-slides-singleSlide-content-text Exclusive content, pre-access to tutorials, articles, updates... Join my newsletter and be part of the community!
                        a(href="/newsletter").slider-slides-singleSlide-content-link Join the newsletter!
                //- Black mask
                .slider-slides-singleSlide-blackmask

                .slider-slides-singleSlide-wallpaper
                    div(style='background-image:url(/images/wallpapers/buildings.jpeg);')


            //-- Single Slide
            li.fading.slider-slides-singleSlide
                //- Content of one slide
                .slider-slides-singleSlide-content
                    .whiteContent
                        h2.slider-slides-singleSlide-content-title Dailyfocus beta
                        p.slider-slides-singleSlide-content-text My new project is already online! Join the beta and let me know your feedback, thanks! #DailyfocusV1
                        a(href="https://dailyfocus.io/beta", target="_blank").slider-slides-singleSlide-content-link Check out my most recent project

                //- Black mask
                .slider-slides-singleSlide-blackmask

                .slider-slides-singleSlide-wallpaper
                    div(style='background-image:url(/images/wallpapers/wallpaper2.jpg);')

            //-- Single Slide
            //- li.fading.slider-slides-singleSlide
                //- Content of one slide
                .slider-slides-singleSlide-content
                    .whiteContent
                        h2.slider-slides-singleSlide-content-title Keep updated!
                        p.slider-slides-singleSlide-content-text Subscribe to my newsletter and you'll receive the most amazing resources I find on the web and also updates about my upcoming projects.
                        a(href='/contact', target='_blank').slider-slides-singleSlide-content-link Yes! Subscribe me

                //- Black mask
                .slider-slides-singleSlide-blackmask

                .slider-slides-singleSlide-wallpaper
                    div(style='background-image:url(/images/wallpapers/wallpaper3.jpg);')


    //-style.
      .blogHeader_bg:after {
        background: rgba(216, 57, 2, 0.7);
      }
      .blogHeader_bg:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
      }
      .blogHeader_info {
        line-height: 1.2em;
      }

    if recentPosts
        style.
            h3.blogPostRelated__title {
                margin: 1.2em 0;
            }
        h3.blogPostRelated__title Most recent posts of my blog

        .threeColsGrid
            each post in recentPosts
                .threeColsGrid__item
                    .threeColsGrid__item__wrapper
                        +postCard(post)

    .threeColsGrid
        .threeColsGrid__item__full_width
            .shadow__box
                +subscriptionBoxLarge({
                    customTitle: 'Join the JF community!',
                    customBody: 'Get exclusive content, pre-access to tutorials, updates and projects! Join my newsletter and keep up to date!',
                    displayForm: false
                })

    //-.blogHeader.talkHeader
      .blogHeader_bg(style="background-image: url();")
        //-SEO
        img(src= '')
      .blogHeader_userFields(style="max-width: 550px; margin: 0 auto;")
        h2.blogHeader_job p

        .about_resume
          a(href="/contact").about_resume_button.about_resume_button_view.blogHeader_button Yepa


    style.
        .heroe {
            width: 100%;
            position: relative;
            margin-bottom: 1em;
        }
        .heroe:after {
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(216, 57, 2, 0.7);
        }
        .heroe:before {
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0, 0, 0, 0.4);
        }
        .heroe__wrapper {
            padding: 3em 2em;
            position: relative;
            z-index: 1;
        }
        .heroe__title {
            font-size: 6em;
            color: #fff;
        }

    //-
        .heroe
            .heroe__wrapper
                h1.heroe__title Biography

        .heroe
            .heroe__wrapper
                h1.heroe__title(style="text-align: right;") Blog

        .heroe
            .heroe__wrapper
                h1.heroe__title Talks &amp;<br /> Workshops

        .heroe
            .heroe__wrapper
                h1.heroe__title(style="text-align: right;") Portfolio<br />