extends ./includes/layout
include ./mixins/postCard
include ./mixins/subscriptionBoxLarge

block extraScripts
    script(src="/vendors/slider.js")
    script(type='text/javascript').
        $('#slider .slider-slides').DDSlider({
            prevSlide: '.slider-navigation-left',
            nextSlide: '.slider-navigation-right',
            selector: '.slider-selector'
        });

    //- script(src="/javascripts/owl.carousel.min.js")
    //- script.
        $(document).ready(function($) {
            $( ".owl-carousel" ).each(function() {
            $(this).owlCarousel()
            });
        });
        $("body").data("page", "frontpage");

block content

  //- Middle Container
  .container_middle
    .slider#slider
        //- Buttons for select the slide number
        ul.slider-selector

        //- Buttons to go previous and right on slide
        ul.slider-navigation

            li.slider-navigation-left
                a
                    span.icon.ion-ios-arrow-left
            li.slider-navigation-right
                a
                    span.icon.ion-ios-arrow-right

        //- Slides of the slider
        ul.slider-slides

            //-- Single Slide
            li.fading.slider-slides-singleSlide
                //- Content of one slide
                .slider-slides-singleSlide-content
                    .whiteContent
                        h2.slider-slides-singleSlide-content-title Jorge Ferreiro
                        p.slider-slides-singleSlide-content-text Software Engineer, Entrepreneur and Product manager.
                        a.whiteButton(href="/about").slider-slides-singleSlide-content-link Read about me
                //- Orange mask
                .slider-slides-singleSlide-orangemask

                .slider-slides-singleSlide-wallpaper
                    div(style='background-image:url(/images/home/header.jpg);')

            //-- Single Slide
            li.fading.slider-slides-singleSlide
                //- Content of one slide
                .slider-slides-singleSlide-content
                    .orangeContent
                        h2.slider-slides-singleSlide-content-title JF Community!
                        p.slider-slides-singleSlide-content-text(style="width: 510px;") At least 1 post every month, early access to content and more... Join my newsletter and be part of the community!
                        a(href="/newsletter?redirect=/blog&source=home").slider-slides-singleSlide-content-link Join the newsletter!
                //- Black mask
                .slider-slides-singleSlide-whitemask
                .slider-slides-singleSlide-wallpaper
                    div(style='background-image:url(/images/home/team.jpg);')


            //-- Single Slide
            li.fading.slider-slides-singleSlide
                //- Content of one slide
                .slider-slides-singleSlide-content
                    .whiteContent
                        h2.slider-slides-singleSlide-content-title Projects
                        p.slider-slides-singleSlide-content-text I love solving real problems through software! Checkout my most recent projects and keep up to date with my <a href="/newsletter" style="color: #fff;">newsletter</a>!
                        a.whiteButton(href="/projects", target="_self").slider-slides-singleSlide-content-link Check out my projects

                //- Black mask
                .slider-slides-singleSlide-orangemask

                .slider-slides-singleSlide-wallpaper
                    div(style='background-image:url(/images/home/jorge_ferreiro_desktop_working.jpg);')


            //-- Single Slide
            li.fading.slider-slides-singleSlide
                //- Content of one slide
                .slider-slides-singleSlide-content
                    .whiteContent
                        h2.slider-slides-singleSlide-content-title Talks
                        p.slider-slides-singleSlide-content-text Sharing and communicating knowledge is part of me. Checkout my talks, videos and slides!
                        a(href="https://dailyfocus.io/beta", target="_blank").slider-slides-singleSlide-content-link See talks and Workshops

                //- Black mask
                .slider-slides-singleSlide-blackmask

                .slider-slides-singleSlide-wallpaper
                    div(style='background-image:url(/images/talks/jorge_ferreiro_speaker_talks_workshops.jpg);')

    //-style.
      .blogHeader_bg:after {
        background: rgba(216, 57, 2, 0.7);
      }
      .blogHeader_bg:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
      }
      .blogHeader_info {
        line-height: 1.2em;
      }

    if recentPosts && recentPosts.length > 0
        style.
            h3.blogPostRelated__title {
                margin: 1.2em 0;
            }
        h3.blogPostRelated__title Most recent posts in my blog!

        .threeColsGrid
            each post in recentPosts
                .threeColsGrid__item
                    .threeColsGrid__item__wrapper
                        +postCard(post)

    .threeColsGrid
        .threeColsGrid__item__full_width
            .shadow__box
                +subscriptionBoxLarge({
                    customTitle: 'Join the JF community!',
                    customBody: 'One post each month, early access to tutorials, updates and projects! Join my newsletter and keep up to date!',
                    displayForm: false
                })

    //-.blogHeader.talkHeader
      .blogHeader_bg(style="background-image: url();")
        //-SEO
        img(src= '')
      .blogHeader_userFields(style="max-width: 550px; margin: 0 auto;")
        h2.blogHeader_job p

        .about_resume
          a(href="/contact").about_resume_button.about_resume_button_view.blogHeader_button Yepa


    style.
        .heroe {
            width: 100%;
            position: relative;
            margin-bottom: 1em;
        }
        .heroe:after {
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(216, 57, 2, 0.7);
        }
        .heroe:before {
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0, 0, 0, 0.4);
        }
        .heroe__wrapper {
            padding: 3em 2em;
            position: relative;
            z-index: 1;
        }
        .heroe__title {
            font-size: 6em;
            color: #fff;
        }

    //- div
        .heroe
            .heroe__wrapper
                h1.heroe__title Biography

        .heroe
            .heroe__wrapper
                h1.heroe__title(style="text-align: right;") Blog

        .heroe
            .heroe__wrapper
                h1.heroe__title Talks &amp;<br /> Workshops

        .heroe
            .heroe__wrapper
                h1.heroe__title(style="text-align: right;") Portfolio<br />