extends ./includes/layout
include ./mixins/newsletterForm

block content

  .container_middle
    .animated.fadeInUp
      include ./includes/breadcrumb.pug

  .container_middle

    .contact.animated.fadeInUp
      .contact_form_wrapper.box_with_shadow
        .contact_form_container

          if content.config.claim
            h2.contact_form_title Would you like to help me with the blog? Join my newsletter and keep up to date, get exclusive content, and receive updates &amp; projects. This help me a lot 😊

          +newsletterForm({
            namePlaceholder: content && content.form && content.form.name ? content.form.name : null,
            emailPlaceholder: content && content.form && content.form.email ? content.form.email : null,
            successMessage: 'You\'re now subscribed to the community!',
            submitButtonText: 'Join Community!'
          })