extends ./includes/layout
include ./mixins/talkCard

block content_full

block content
  //- Container middle
  .container_middle
    div.animated.fadeInUp
      include ./includes/breadcrumb.pug

  .animated.fadeInUp
    .blogHeader.talkHeader.lazy
      .blogHeader_bg(style="background-image: url(" + config.wallpaper + ");")
        //-SEO
        img(src= config.wallpaper)
      .blogHeader_userFields(style="max-width: 550px; margin: 0 auto;")
        h2.blogHeader_info !{config.subtitle}

        .about_resume
          a(href="/contact").about_resume_button.about_resume_button_view.blogHeader_button= config.callToAction.button

    .animated.fadeInUp
      h1.titleSeparator Previous Talks and Workshops

      .threeColsGrid
        each talk in pastTalks || []
          .threeColsGrid__item.lazy
            .threeColsGrid__item__wrapper
              +talkCard(talk)

        .separator_no_margin
        .threeColsGrid__item
          .threeColsGrid__item__wrapper
            .talk__ad.shadow__box
              h1.talk__ad__title The next talk here!
              p.talk__ad__subtitle Are you organizing an event and want me to be your speaker? Send me an email with the proposal (jorge@ferreiro.me). I'll be happy to be part of it!
              a(href="/contact").talk__ad__link Send talk proposal