extends ./includes/layout
include ./mixins/talkEntry

block content_full

block content
  //- Container middle
  .container_middle
    div.animated.fadeInUp
      include ./includes/breadcrumb.pug

  .animated.fadeInUp

    .blogHeader.talkHeader
      .blogHeader_bg(style="background-image: url(" + config.wallpaper + ");")
        // SEO
        img(src= config.wallpaper)
      .blogHeader_userFields(style="max-width: 550px; margin: 0 auto;")
        h2.blogHeader_job !{config.subtitle}

        .about_resume
          a(href="/contact").about_resume_button.about_resume_button_view.blogHeader_button= config.callToAction.button

    .animated.fadeInUp
      h1.titleSeparator Previous talks and workshops

      .threeColsGrid
        each talk in pastTalks || []
          .threeColsGrid__item
            .threeColsGrid__item__wrapper
              +talkEntry(talk)

            if pastTalks.length % 2 == 1
              .talk
                .talk__ad
                  h1.talk__ad__title The next talk here!
                  p.talk__ad__subtitle Do you have an event and want jorge to be a speaker or co-organiser? I'll be happy to be part of it! Write me an email with the proposal (jorge@ferreiro.me) or contact through the form.
                  a(href="/contact").talk__ad__link Contact or propose a talk