extends ./includes/layout

block content_full

block content
  //- Container middle
  .container_middle.sectionHeader
    include ./includes/breadcrumb.pug
    .blogHeader.animated.zoomIn
      .blogHeader_bg(style="background-image: url(" + config.wallpaper + ");")
        // SEO
        img(src= config.wallpaper)
      .blogHeader_userFields(style="max-width: 550px; margin: 0 auto;")
        h2.blogHeader_job= config.subtitle
        h2.blogHeader_job(style="font-size: 1.2em; margin-bottom: 0.5em;")= config.callToAction.claim

        .about_resume
          a(href="/contact").about_resume_button.about_resume_button_view.blogHeader_button= config.callToAction.button

  h1.titleSeparator.animated.zoomIn Previous talks and workshops

  .talks
    .talk
      <iframe src="//www.slideshare.net/slideshow/embed_code/key/9g2w6pw5BIfcb8" width="560" height="315" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen></iframe>

    .talk
      <iframe src="//www.slideshare.net/slideshow/embed_code/key/JbRpFBTuxKzK60" width="560" height="315" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen></iframe>

    .talk
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/qlDrZiwkrv0?rel=0" frameborder="0" allowfullscreen></iframe>

    .talk
      <iframe src="//www.slideshare.net/slideshow/embed_code/key/7ccfv8oGwI8NUp" width="560" height="315" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen></iframe>

    .talk
      <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/vZI3iPdbOTk?rel=0" frameborder="0" allowfullscreen></iframe>

    .talk
      <iframe src="//www.slideshare.net/slideshow/embed_code/key/i6RWO4Nmrt0eQw" width="560" height="315" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen></iframe>


    each talk in pastTalks || []
      h1 Hello!
