extends ./includes/layout
include ./mixins/talkCard

block content_full
  +Header({
    mainColor: '#000',
    buttonColor: '#d83901',
    backgroundColor: '#ffffff',
    backgroundSize: 'auto 100%',
    backgroundPosition: '100% 50%',
    backgroundImage: '/images/talks/talks_jorge_ferreiro.jpg',

    layoverSize: 'cover',
    layoverPosition: 'center center',
    layoverImage: '/images/talks/talk.png',

    title: 'Talks',
    subtitle: 'Presentations, workshops and more!',
    paragraphs: [
      {
        type: '',
        body: 'I like talking about: Technical topics (React, Javascript, Node.JS, Frontend, Full-stack), Entrepreneurship (how to build and launch products), Career in tech (finding your first job, internships, how to start coding, my career). I'm really passionate to share what I've learned and inspire others!.'
      },
    ],
    buttons: [
      {
        type: 'normal',
        text: 'Bring me to your event',
        path: '/contact/talk',
        color: '#000',
        borderColor: '#cacaca'
      },
    ],
    hasBottomBorder: true,
    buttonBorderSize: '2px',
  })

block content
    // h1.titleSeparator Previous Talks and Workshops

    .threeColsGrid
      each talk in pastTalks || []
        if !talk.private
          .threeColsGrid__item.lazy
            .threeColsGrid__item__wrapper
              +talkCard(talk)

      // .separator_no_margin
      div(style="width: 100%; margin: 0 .7em;")
          .talk__ad.shadow__box
            div(style="max-width: 33%; text-align: center; margin: 0 auto;")
              h1.talk__ad__title Are you organizing an event?
              p.talk__ad__subtitle I'm always looking for opportunities to share what I know. If my profile fits your event topics, I'd love to get a chance to be envolved. Just send me an email or use the contact form below. Thank you!
              a(href="/contact/talk").talk__ad__link Bring me to your event