$medium: 600px;
$large: 1000px;
$extra-large: 1300px;

// Colors
$color-main-wrapper: #fff;

$color-main: #d83902;
$color-main-link: #f77f5d;
$color-youtube: #ff0200;
$color-youtube-hover: #ce0705;

$color-section-title: #525252;
$color-section-title-contrast: #fff;

// Font sizes
$font-size-title: 18px;
$font-size-paragraph: 16px;

// Cards
$card-radius: 8px;