@import '../../../components/mediaQueries.scss';

.post {
    &-not-found {
        &__icon {
            border: 10px solid #cecece;
            border-radius: 40px;
        }   
    }
    &__loading {
        
    }
    &__loading {
        
    }
}

.post-divider {
    border-top: 1px solid #cecece;
}

//- Module to share post.
.post-share {
    // TODO: Generalize this style, the related posts is also using this
    margin-top: 2em;
    padding: 2em 0;
    background: rgb(237, 237, 237);

    &__title {
        font-weight: 600;
        font-size: 2em;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-bottom: 2rem;
    }

    &__links {
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    &__link {
        display: inline-block;
        list-style: none;
        margin: 0 .5em;
        vertical-align: middle;
    }
}

.sharing-button {
    border-radius: 10px;
    border-right-width: 6px;
    border-bottom-width: 6px;
    cursor: pointer;
    height: 70px;
    min-width: 70px;
    outline: 0;

    &__icon {
        color: #fff;
        font-size: 26px;
    }

    &-twitter {
        border-color: #0c82e8;
        background: #2e92e9;

        &:hover {
            background: lighten(#2e92e9, 5);
        }
    }

    &-linkedin {
        border-color: #0b66b5;
        background: #1577cd;

        &:hover {
            background: lighten(#1577cd, 5);
        }
    }

    &-feedback {
        padding: 0 1em;
        font-size: 18px;
        color: #000;

        &:hover {
            background: #fbfafa;
        }
    }
}
