@import '../../../components/mediaQueries.scss';

.post-related {
    /* TODO: Generalize this style, the sharing block is also using this */
    background: rgb(237, 237, 237);
    padding: 2em 0;
    min-height: 300px;
    display: block;

    &__items {
        align-items: stretch;
        flex-wrap: wrap;
        display: flex;

        @include large-down {
            flex-direction: column;
        }

        @include large-up {
            flex-direction: row;
            min-height: 370px;
        }
    }

    &__item {
        flex: 1 1 auto;

        @include large-up {
            max-width: 33%;

            .card-related-post {
                margin: 0 .8em;
            }
        }
    }
}