$headerHeight: 60px;
$headerPadding: 14px;

$logoHeight : 60px;
$leftContainerWidth: 330px;
$leftContainerWidthBig: 380px;

//--- Medidas ---
$mobile-screen : 400px;
$tablet-screen : 700px;
$desktop-screen : 900px;
$big-screen : 1300px;

//--- Colors ---
$menuColor : #fff;
$primaryColor : #d83902;
$primaryColorLight : #F9764F;
$tagsColor:#888888 ;//#FFDCD0;
$secundaryColor : #000;
$secundaryColorLight : #cfcfcf;
