// Header
$headerHeight: 60px;
$headerPadding: 14px;
$headerMenuPadding: 0.7em;
$headerTotalHeight: $headerHeight + (2 * $headerPadding) - 5px;

$logoHeight: 60px;
$leftContainerWidth: 330px;
$leftContainerWidthBig: 380px;

//--- Blog!
$blogPostWidth: 700px;

//--- Medidas ---
$mobile-screen : 400px;
$tablet-screen : 700px;
$desktop-screen : 1000px;
$big-screen : 1300px;

//--- Colors ---
$menuColor : #fff;
$primaryColor : #d83902;
$primaryColorLight : #F9764F;
$tagsColor:#888888 ;//#FFDCD0;
$secundaryColor : #000;
$secundaryColorLight : #cfcfcf;
