extends ./layout
block content
    if error
        div(style="background: red; padding: 1em;")
            p= error

    h1 Create new post

    - formAction = edit==true ? '/admin/edit/' + post.permalink : '/admin/create'

    form(action= formAction, method='post')
        div
            label(for='title') Title:
            input#title(type='name', name='post_title', value= post && post.title ? post.title : '')
        div
            label(for='pic') Pic:
            input#title(type='name', name='post_pic', value= post && post.pic ? post.pic : '')
        div
            label(for='permalink') Permalink:
            input#permalink(type='name', name='post_permalink', value= post && post.permalink ? post.permalink : '')
        div
            label(for='author_name') Author name:
            input#author(type='author_name', name='post_author_name', value= post && post.author ? post.author : '')
        div
            label(for='summary') Summary:
            input#summary(type='summary', name='post_summary', value= post && post.summary ? post.summary : '')
        div
            label(for='body') Content:
            textarea#body(type='name', name='post_body')
        div
            label(for='isPublished') Is published?:
            input(type="checkbox", id="isPublished", name="post_isPublished", checked=(post && post.published==true ? 'checked' : ''))
        div
            button(type='submit') Submit


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    script.
        var simplemde = new SimpleMDE({
            element: document.getElementById("body"),
            promptURLs: true,
            tabSize: 4,
            autosave: {
                enabled: true,
                uniqueId: "JorgeFerreiroBlog",
                delay: 2000,
            }
        });
    if edit
        input(type="hidden", id="postBody", value= post.body)
        script.
            var data = $('#postBody').val()
            simplemde.value(data)