<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    body
        h1 Welcome to the admin pannel!
        if admin
            ul
                li
                    a(href="/create") Write new post
                li
                    a(href="/logout") Logout

        block content