extends ./layout

block extraScripts
    script(type='text/javascript', async='', src='https://www.gstatic.com/recaptcha/api2/r20170919161736/recaptcha__en.js')
    script(src='//www.google.com/recaptcha/api.js', async='', defer='')

block content
    if message
        div(style="background: red; padding: 1em;")
            p= message

    .composer.shadow__box(style="max-width: 350px;")
        if error
            div(style="background: red; margin-bottom: 2.5em; padding: 1em;")
                p= error

        form(action='/admin/login', method='post')
            div
                label(for='mail') E-mail:
                input#mail.subscriptionBox__email(type='name', placeholder='Your Email address', name='email')
            div
                label(for='mail') Password:
                input#password.subscriptionBox__email(type='password', placeholder='Your Password', name='password')

            div(style="margin-top: 1em; margin-bottom: 2em;" data-sitekey="6LflWDIUAAAAAKTIbuWjcRdx6At0hJSulNFH3p-l")
                .g-recaptcha

            div
                button.about_resume_button.about_resume_button_view.blogHeader_button(type='submit') Login