.menu.fixed
  .menu__wrapper.container_inner
      a.logo(href="/")
          img(src="/images/logo.jpg")

      .menu_left
        .dropdown
          a(href='/', target='_blank')
            .item.with-icon
              p
                span.icon.ion-ios-arrow-back
                span.social_network_text Go back to website

      .menu_right

        if admin
          a.item(href="/admin/")
            p All blog posts
          a.item(href="/admin/published")
            p Published
          a.item(href="/admin/drafts")
            p Drafts
          //-each item in menu || []
            a.item(id= item.id, href= item.url, target= item.target || '_self', class= path===item.id ? 'item-selected' : '')
              p= item.name

          .dropdown
            a(href='/admin/create')
              .item.with-icon(style="background: #f9764f; border-color: #d83902; ")
                p
                  span.icon.ion-android-create(style="color: #fff;")
                  span.social_network_text(style="color: #fff;") Write post

        .jfmenu_open_button#dropdown-mobiles
          span.icon-paragraph-justify

        if admin
          .dropdown
            a(href='/admin/logout')
              .item.with-icon
                p
                  span.icon.ion-log-out
                  span.social_network_text Logout
        else
          .dropdown
            a(href='/admin/login')
              .item.with-icon
                p
                  span.icon.ion-log-in
                  span.social_network_text Login
