extends ./admin.layout.pug
include ../../../views/mixins/blogEntry

block content
  if success
    .success(style="background: green; padding: 1em;")
      h1= success

  if error
    .error(style="background: red; padding: 1em;")
      h1= error

  center
    h1(style="margin-bottom: 1em;") List of #{title}

  if posts

    .blog__entries
      if posts.length == 0
        h1 There are no posts currently. Come back sortly, I'm creating exclusive content!

      each post in posts || []
        +blogEntry(post)