/**************************************************/
/***** November 2016: new modular Container ******/
/*************************************************/

.container {
  width: 100%;
  margin:0 auto;
  @media all and (min-width: $tablet-screen) {}
  @media all and (min-width:$desktop-screen) {}
  @media all and (min-width:$big-screen) {
    width: $big-screen;
  }
}

.container_home {
  margin-top: $headerHeight + (2 * $headerPadding) - 5px;
}

.container_inner {
  padding:1em;
  display: block;
  position: relative;
  overflow: visible;

  @media all and (min-width: $desktop-screen) {
    padding:2em;
  }
  @media all and (min-width:$big-screen) {
    padding-left:0;
    padding-right: 0;
  }

  &__flex {
    @media all and (min-width: $desktop-screen) {
      @include flexbox();
      @include flexbox_direction(row);
      @include flexbox_wrap(nowrap);
      @include flexbox_justifyContent(flex-start, start);
      @include flexbox_alignContent(stretch, stretch);
      @include flexbox_alignItems(stretch, stretch);
    }
  }
}

.container_middle {
  margin-bottom: 1em;
  // background: rgba(0, 0, 0, 0.1);
  @media all and (min-width: $desktop-screen) {
    // margin-bottom: 2em;
  }
}

.container_left {
  min-height: 500px;
  @media all and (min-width: $tablet-screen) {}
  @media all and (min-width: $desktop-screen) {
    @include flexbox_flex(1, 1, auto);
    @include flexbox_alignSelf(auto);
  }
  @media all and (min-width:$big-screen) {
    margin-right: $leftContainerWidthBig !important; /* Move container the size of left */
  }
}

.container_right {
  margin-bottom: 1em;

  @media all and (min-width: $tablet-screen) {}
  @media all and (min-width: $desktop-screen) {
    @include flexbox_flex(0, 0, auto);
    @include flexbox_alignSelf(auto);
    width: $leftContainerWidth;
    margin-left: 2em;
  }
  @media all and (min-width:$big-screen) {
    width: $leftContainerWidthBig;
    right: 0;
  }

  &_fixed {
    @media all and (min-width: $tablet-screen) {}
    @media all and (min-width: $desktop-screen) {
      margin-bottom: 0 !important;
      position: fixed;
    }
    @media all and (min-width:$big-screen) {}
  }
}


/**** Fin container *****************************/
/************************************************/
