
/**************************************************/
/***** November 2016: new modular Container ******/
/*************************************************/

.container {
  width: 100%;
  margin:0 auto;
  @media all and (min-width: $tablet-screen) {}
  @media all and (min-width:$desktop-screen) {}
  @media all and (min-width:$big-screen) {
    width: $big-screen;
  }
}

.container_inner {
  padding:1em;
  display: block;
  margin-top:$logoHeight;
  position: relative;
  overflow: visible;

  @media all and (min-width: $desktop-screen) {
    padding:2em;
  }
  @media all and (min-width:$big-screen) {
    padding-left:0;
    padding-right: 0;
  }
}


.container_middle {

  margin-bottom: 1em;
  // background: rgba(0, 0, 0, 0.1);

  @media all and (min-width: $desktop-screen) {
    // margin-bottom: 2em;
  }
}

.container_left {

  margin-bottom: 1em;

  @media all and (min-width: $tablet-screen) {}
  @media all and (min-width: $desktop-screen) {
    width: $leftContainerWidth;
    position: absolute;
  }
  @media all and (min-width:$big-screen) {
  }

  &_fixed {
    @media all and (min-width: $tablet-screen) {}
    @media all and (min-width: $desktop-screen) {
      margin-bottom: 0 !important;
      position: fixed;
    }
    @media all and (min-width:$big-screen) {
    }
  }
}

.container_right {

  min-height: 500px;
  // background: rgba(0, 0, 0, 0.1);

  @media all and (min-width: $tablet-screen) {}
  @media all and (min-width: $desktop-screen) {
    width: auto;
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
    margin-left: $leftContainerWidth !important; /* Move container the size of left */
    padding-left: 2em; /* Add extra padding to the left */
  }
  @media all and (min-width:$big-screen) {
  }
}

/**** Fin container *****************************/
/************************************************/
