.page-loader {
    background-image: url(/images/three-dots.svg);
    background-repeat: no-repeat;
    background-size: 60px auto;
    background-position: 50% 50%;
    height: 100vh;
    left: 0;
    top: 0;
    width: 100%;
}