extends ./layout
include ../mixins/blogHeader

block content_full
  block content_header
    - hasAnimation = false
    +blogHeader(hasAnimation)

block content
  block content_large

block after_content