extends ./layout

block content_full
  .blogHeader.animated.zoomIn#blogHeader
    .blogHeader_bg(style="background-image: url(" + config.wallpaper + ");")
      // SEO
      img(src= )
    .blogHeader_userFields
      h1.blogHeader_name
        a(href="/blog").blogHeader_name_link
        | #{config.title}
      h2.blogHeader_job !{config.subtitle}
      h2.blogHeader_job(style="font-size: 1.2em; margin-bottom: 0.5em;") By <strong>#{config.author.name}</strong>

      // .about_resume(style="margin-top: 1em;")
        a(href= config.subscription).about_resume_button.about_resume_button_view.blogHeader_button Subscribe blog!


  // h1.titleSection.animated.zoomIn Posts
  h3.profileData_title Categories
  ul.profileData_list

    li.profileData_entry
      p.profileData_entry_text_without_icon
        a(href="") Software Engineering

    li.profileData_entry
      p.profileData_entry_text_without_icon
        a(href="") Product management

    li.profileData_entry
      p.profileData_entry_text_without_icon
        a(href="") Entrepreneurship

  //.profileData.box_with_shadow(style="margin-top: 0;")

    h3.profileData_title Categories
    ul.profileData_list

      li.profileData_entry
        p.profileData_entry_text_without_icon
          a(href="") Software Engineering

      li.profileData_entry
        p.profileData_entry_text_without_icon
          a(href="") Product management

      li.profileData_entry
        p.profileData_entry_text_without_icon
          a(href="") Entrepreneurship

block content

  block content_large

  .container_inner__flex

    //- Each blog page can have their own design
    block blog_content
      //- This can be replaced by each of the blog subpages

    block blog_sidebar
      //- Right Container
      .container_right.sectionHeader

        .profileData.box_with_shadow(style="margin-top:0;")

          include ./subscriptionBox

        .profileData.box_with_shadow(style="margin-bottom: 0;")
          h3.profileData_title(style="margin-left: 10px;") Let's connect!
          <div class="dropdown-content" style="display: block; position: relative; padding: 0; -moz-box-shadow: 0 0 0 !important; -webkit-box-shadow: 0 0 0 !important; box-shadow: 0 0 0 !important;" id="DropdownSocial"><a class="dropdown-item" id="linkedin" href="https://www.linkedin.com/in/jgferreiro/" target="_blank"><span class="dropdown-icon icon-linkedin"></span><span class="dropdown-text">Linkedin</span></a><a class="dropdown-item" id="twitter" href="https://twitter.com/jgferreiro" target="_blank"><span class="dropdown-icon icon-twitter"></span><span class="dropdown-text">Twitter</span></a><a class="dropdown-item" id="instagram" href="https://www.instagram.com/jgferreiro/" target="_blank"><span class="dropdown-icon icon-instagram"></span><span class="dropdown-text">Instagram</span></a><a class="dropdown-item" id="github" href="https://www.github.com/ferreiro" target="_blank"><span class="dropdown-icon icon-github" style="margin-bottom: 0;"></span><span class="dropdown-text">Github</span></a></div>


block after_content
  .blogPostRelated
    //.box_with_shadow
    .hot_links
      h2.timeline__smallTitle What to see next?
      .hot_links_box(style="background-image:url('/images/projects/m4d_back.png');")
        a(href="/about")
          h2 Read biography

      .hot_links_box(style="background-image:url('/images/jorge_ferreiro_in_san_francisco_golden_gate_software_engineer_entrepreneur.jpg');")
        a(href="/portfolio")
          h2 Dicover portfolio

      .hot_links_box(style="background-image:url('/images/jorge_ferreiro_speaker_talks_workshops.jpg');")
        a(href="/contact")
          h2 Contact Jorge
          // h2 Checkout my talks