extends ./layout
include ../mixins/blogHeader

block content_full
  block content_header
    +Header({
      title: 'The corner of Jorge',
      subtitle: config.subtitle,
      paragraphs: [
        'Subscribe!'
      ],
      buttons: [
        {
          type: 'normal',
          text: 'Subscribe to the newsletter',
          path: '/about',
          icon: 'ion-document',
          className: 'openNewsletterSubscription'
        },
      ],

      mainColor: '#fff',
      buttonColor: '#d83901',
      backgroundColor: '#253246',
      backgroundSize: 'cover',
      backgroundPosition: 'center center',
      backgroundImage: '/images/blog/jorge_ferreiro_in_san_francisco_golden_gate_software_engineer_full_stack_web_developer.jpg',

    })

    // layoverSize: 'cover',
    // layoverPosition: 'center center',
    // layoverImage: '/images/talks/talk.png',

block content
  block content_large

block after_content