.jfmenu
  .jfmenu_overlay
  .jfmenu_content

    // put the size of your header
    .jfmenu_top_separator

    h1.jfmenu_title Discover me

    // Menu block containing links
    ul
      each item in menu || []
        li(id= item.id, class= path===item.id ? 'current_section' : '')
          a(href= item.url, target= item.target || '_self')
            span= item.name

      li.submenu
        a
          span Social Networks
          span.icon-arrow-down2.right

        // Menu block containing links (sublinks)
        ul
          each item in social || []
            li
              a(href= item.url, target= item.target || '_blank')
                span.icon-separated(class="icon-" + item.icon)
                span #{item.name}

      li.submenu
        a
          span Language
          span.icon-arrow-down2.right

        ul
          li
            a(href="/")
              span English

      //- li
      //-   a(onclick="alert('me [at] jgferreiro.com')")
      //-     span Email

.menu.fixed
  .container
    .menu__wrapper
      a.logo(href="/")
          img(src="/images/logo.jpg")

      .left
        each item in menu || []
          a.item(id= item.id, href= item.url, target= item.target || '_self', class= path===item.id ? 'item-selected' : '')
            p= item.name

      .right

        // .dropdown
          a(href='/contact')
            .item.with-icon
              p
                <i class="icon ion-home"></i>
                span.social_network_text Contact

        .dropdown.dropdown-social
          .item.with-icon
            p
              i(class="icon ion-chatbox-working", style="color:#d83901; margin-right: 0.8em;")
              span Social - Let's connect!
              .dropdown-content#DropdownSocial
                each item in social || []
                  a.dropdown-item(id= item.id, href= item.url, target= item.target || '_target')
                    span.dropdown-icon(class="icon-" + item.icon)
                    span.dropdown-text #{item.name}

        .jfmenu_open_button#dropdown-mobiles
          span.icon-paragraph-justify

        // .dropdown
          a(href='http://linkedin.com/in/jgferreiro', target='_blank')
            .item.with-icon
              p
                span.icon-linkedin
                span.social_network_text Linkedin

        // .dropdown
          a(href='http://twitter.com/jgferreiro', target='_blank')
            .item.with-icon
              p
                span.icon-twitter
                span.social_network_text Twitter
    
          //- .dropdown
          //-   a(href='/contact')
          //-     .item.with-icon
          //-       p
          //-         span Email                  
        //-         
        //- .dropdown
        //-   .item.with-icon
        //-     p
        //-       //- span.icon-address-book.extra-margin
        //-       span Email
        //-       .dropdown-content#DropdownSocial
        //-         a.dropdown-link(href="https://linkedin.com/in/jgferreiro", target="_blank") Linkedin
        //-         a.dropdown-link(href="https://github.com/ferreiro", target="_blank") Github @ferreiro
        //-         a.dropdown-link(href="https://twitter.com/jgferreiro", target="_blank") Twitter @jgferreiro
        //-         a.dropdown-link(href="https://soundcloud.com/jgferreiro", target="_blank") Soundcloud
        
        //
          .dropdown
            .item.with-icon
              p
                span.icon-cog
                .dropdown-content#DropdownSocial
                  //a.dropdown-link(href="/es") Español
                  a.dropdown-link(href="/") English
