.socialSharing#socialSharing
  ul.socialSharing__list
    li.socialSharing__entry
      a(class="linkedinShare", style="background-image: url('/images/icons/linkedin.svg');").socialSharing__item
        //- span.icon.icon-linkedin2
    li.socialSharing__entry
      a(class="tweetShare").socialSharing__item
        // span.icon.icon-twitter
        span.icon.ion-social-twitter-outline
    li.socialSharing__entry
      a.socialSharing__item(href="#comments", class="commentsShare", style="background-image: url('/images/icons/chat4.svg');")