.subscriptionBoxLarge

  h3.subscriptionBoxLarge__title Join the JF community!
  p.subscriptionBoxLarge__text Get exclusive content, pre-access to tutorials, updates and projects! Join my newsletter and keep up to date!

  //form.subscriptionBoxLarge__form(action="/api/v1/newsletter/subscribe", method="POST")
    input.subscriptionBoxLarge__email(type='text', name='email', placeholder='Your email address')
  span.subscriptionBoxLarge__completed
    | ✔
    span(style='color: #000; margin-left: 0.5em;') Subscribed!
  form.subscriptionBoxLarge__form(action="/newsletter", method="GET")
    button.subscriptionBoxLarge__submit
      img.subscriptionBoxLarge__loader(src='/images/spinner.svg')
      span.beta__signup__text Get exclusive materials!
