@import "../../components/spacing.scss";
@import "../../components/variables.scss";
@import "../../components/mediaQueries.scss";

.about-header {
    align-items: center;
    color: #fff;
    display: flex;
    position: relative;
    padding: $spacing-4;
    text-align: center;

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;

        &:before {
            content: '';
            position: absolute;
            background: rgba(202, 70, 34, .8);
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__data {
        flex: 1 1 auto;
    }
    
    &__avatar {
        img {
            border: 5px solid #fff;
            width: 110px;
            height: 110px;
            border-radius: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__name {
        color: #fff;
        margin-top: $spacing-2;
    }

    &__headline {
        margin: 0 auto;
        max-width: 500px;
        color: #fff;
        font-size: 24px;
        margin-top: $spacing-1;
    }

    &__options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: $spacing-3;

        li {
            list-style: none;
        }
    }
}

.about-bio {
    display: flex;
    align-items: center;

    &--reversed {
        .about-bio__description {
            order: 0;
        }

        .about-bio__pic {
            order: 1;
        }
    }

    &__pic {
        flex: 1 1 auto;
        order: 0;
    }

    &__title {
        font-size: $spacing-1 * 1.5;
        font-weight: 600;
        text-transform: capitalize;
    }

    &__list {
        
    }

    &__item {
        margin: ($spacing-1 / 1.5) 0;
        list-style: none;
        font-size: $text-font-size;

        @include large-up {
            font-size: $text-font-size-large-up;
        }

        span.icon {
            margin-right: $spacing-1;
        }
    }

    &__description {
        order: 1;
        max-width: 650px;
        flex: 0 0 auto;

        p {
            margin-bottom: $spacing-2;
            font-size: $text-font-size;
            line-height: $text-line-height;

            @include large-up {
                font-size: $text-font-size-large-up;
                line-height: $text-line-height-large-up;
            }

            &:nth-last-child(1) {
                margin-bottom: 0;
            }
        }
    }
}

.about-career {
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        width: 300px;
        flex: 0 0 auto;
        margin-right: $spacing-2;
        padding: $spacing-2;
        border: 4px solid #cecece;
        border-radius: 8px;
        margin-bottom: $spacing-2;

        &--active {
            border-color: #922dcc;
        }
    }

    &__avatar {
        height: 40px;
    }

    &__title {
        margin-top: $spacing-1;
        font-size: $spacing-1;

        @include large-up {
            font-size: $spacing-1 * 1.2;
        }
    }

    &__dates {
        margin-top: $spacing-2;
    }

    &__options {
        display: flex;
        justify-content: center;
        margin-top: $spacing-3;

        a {
            margin: 0 $spacing-1 / 2;
        }
    }
}

.about-section {
    margin-top: $spacing-5;

    &__title {
        font-size: $spacing-4;
        font-weight: 600;
    }

    &__subtitle {}
    &__content {
        margin-top: $spacing-4;
    }
}

.about-talks {
    &__cta {
        margin-top: $spacing-5;
        display: flex;
        justify-content: center;

        a {
            margin-right: $spacing-1;
        }
    }
}

.about-photos {
    display: flex;
    flex-wrap: wrap;

    span {
        width: 25%;
        flex: 0 0 auto;
        margin-bottom: $spacing-2;
    }

    .wrapper {
        padding-bottom: 60%;
        position: relative;
        overflow: hidden;
    }

    img {
        width: calc(100% - #{$spacing-2});
        margin-right: $spacing-2;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
    }
}