mixin blogHeader(hasAnimation)
  - headerClass = ''
  if hasAnimation
    - headerClass = 'animated fadeInUp'

  .blogHeader#blogHeader(class= headerClass)
    a(href='/blog').blogHeader_link
    .blogHeader_bg(style="background-image: url(" + config.wallpaper + ");")
      // SEO
      img(src= )
    .blogHeader_userFields
      h1.blogHeader_name
        a(href="/blog").blogHeader_name_link
        | #{config.title}
      h2.blogHeader_job !{config.subtitle}
      h2.blogHeader_job(style="font-size: 1.2em; margin-bottom: 0.5em;") By <strong>#{config.author.name}</strong>

      // .about_resume(style="margin-top: 1em;")
        a(href= config.subscription).about_resume_button.about_resume_button_view.blogHeader_button Subscribe blog!
