mixin blogHeader(hasAnimation)
  - headerClass = ''
  if hasAnimation
    - headerClass = 'animated fadeInUp'

  #blogHeader.blogHeaderWrapper(class= headerClass)
    .blogHeader
      a(href='/blog').blogHeader_link
      .blogHeader_bg(style="background-image: url(" + config.wallpaper + ");")
        //-SEO
        img(src= config.wallpaper)
      .blogHeader_userFields
        h1.blogHeader_name
          a(href="/blog").blogHeader_name_link
          | #{config.title}
        h2.blogHeader_job !{config.subtitle}
        h2.blogHeader_job(style="font-size: 1.2em; margin-bottom: 0.5em;") By <strong>#{config.author.name}</strong>

        //-.about_resume(style="margin-top: 1em;")
          a(href= config.subscription).about_resume_button.about_resume_button_view.blogHeader_button Subscribe blog!

    .optionsMenu
      ul.optionsMenu__list
        mixin optionsMenuItem(title, categoryId, url)
          li.optionsMenu__item(aria-selected= blogCategory===categoryId ? 'true' : 'false')
            a(href= url).optionsMenu__link
              span= title

        +optionsMenuItem('All', 'all', '/blog')
        +optionsMenuItem('Software', 'software', '/blog/category/software')
        +optionsMenuItem('Product', 'product', '/blog/category/product')
        +optionsMenuItem('Entrepreneurship', 'entrepreneurship', '/blog/category/entrepreneurship')

        li.optionsMenu__item
          a(href= '/newsletter').optionsMenu__link
            span.optionsMenu__item__icon.icon.ion-android-mail
            span Newsletter