include ../mixins/newsletterForm

mixin subscriptionBoxLarge(opts)
  .subscriptionBoxLarge

    - title = opts && opts.customTitle ? opts.customTitle : 'Join my newsletter'
    h3.subscriptionBoxLarge__title= title

    - body = opts && opts.customBody ? opts.customBody : 'Creating a blog from the ground is really hard, I need your help! Join my newsletter and receive my new blog posts and projects in your inbox.'
    p.subscriptionBoxLarge__text= body

    if !opts.displayForm
      form#subscribeLargeForm.subscriptionBoxLarge__form(action="/newsletter", target="_blank", method="GET")
        span.subscriptionBoxLarge__completed
          | ✔
          span(style='color: #000; margin-left: 0.5em;') Subscribed!
        button.subscriptionBoxLarge__submit
          img.subscriptionBoxLarge__loader(src='/images/spinner.svg')
          span.beta__signup__text Subscribe to the community
    else
      .subscriptionBoxLarge__formWrapper
        +newsletterForm()