.stats {
  &_text {

  }
  &_images {

    text-align: center;

    &_pic {
      width: 100%;
      margin-bottom: 1em;
      @include border-radius(10px);
      @media all and (min-width:$large-screen) {
        max-width: $large-screen;
        display: inline-block;
      }
    }
  }
}
