/**************************************************/
/***** November 2016: new modular Container ******/
/*************************************************/

.container {
  width: 100%;
  margin: 0 auto;

  @include transition(500ms);
}

.container_home {
  margin-top: $headerTotalHeight;
}

.container_inner {
  z-index: 0;
  padding: 1em;
  display: block;
  position: relative;
  overflow: visible;

  @media all and (min-width: $desktop-screen) {
    margin: 0 auto;
    padding: 2em;
  }

  @media all and (min-width: $containterMaxDesktopWidth + 16px * 2) {
    max-width: $containterMaxDesktopWidth;
    padding: 2em 0;
  }

  @media all and (min-width:$big-screen) {
    max-width: $big-screen;
  }

  &__blog {
    @media all and (min-width: $containterMaxDesktopWidth) {
      padding: 1.5em 0;
    }
  }

  &__flex {
    @media all and (min-width: $desktop-screen) {
      @include flexbox();
      @include flexbox_direction(row);
      @include flexbox_wrap(nowrap);
      @include flexbox_justifyContent(flex-start, start);
      @include flexbox_alignContent(stretch, stretch);
      @include flexbox_alignItems(stretch, stretch);
    }
  }
}

.container_middle {
  width: 100%;
  display: inline-block;

  @media all and (min-width: $desktop-screen) {}
}

.container_left {
  min-height: 500px;

  @media all and (min-width: $tablet-screen) {}
  @media all and (min-width: $desktop-screen) {
    @include flexbox_flex(1, 1, auto);
    @include flexbox_alignSelf(auto);
  }
  @media all and (min-width:$big-screen) {
    margin-right: $leftContainerWidthBig !important; /* Move container the size of left */
  }
}

.container_right {
  margin-bottom: 1em;

  @media all and (min-width: $tablet-screen) {}
  @media all and (min-width: $desktop-screen) {
    @include flexbox_flex(0, 0, auto);
    @include flexbox_alignSelf(auto);
    width: $leftContainerWidth;
    margin-left: 2em;
  }
  @media all and (min-width:$big-screen) {
    width: $leftContainerWidthBig;
    right: 0;
  }

  &_fixed {
    @media all and (min-width: $tablet-screen) {}
    @media all and (min-width: $desktop-screen) {
      margin-bottom: 0 !important;
      position: fixed;
    }
    @media all and (min-width:$big-screen) {}
  }
}